@{
    Layout = "_AccountLayout";
}

<h1 class="font-weight-light">My Account</h1>
<hr class="mb-0" />
<div class="row my-4">
    <div class="col-7">
        <h3 class="font-weight-light">Ryan Maffit</h3>
        <a href="mailto:rmaffit@sancsoft.com">rmaffit@sancsoft.com</a>
        <div>+1-330-666-9690</div>
    </div>
    <div class="col-5">
        <h5 class="font-weight-light">Manage Account</h5>
        <a href="#">Profile</a><br />
        <a href="#">Email</a><br />
        <a href="#">Password</a><br />
        <a href="#">Two-factory authentication</a><br />
        <a href="#">Manage accounts</a>
    </div>
</div>