<hq-table>
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        width="140"
        [hq-sort-header]="listService.SortColumn.ChargeCode"
      >
        Chrg Code
      </th>
      <th
        scope="col"
        width="250"
        [hq-sort-header]="listService.SortColumn.ProjectManagerName"
      >
        Client
      </th>
      <th scope="col" [hq-sort-header]="listService.SortColumn.ProjectName">
        Project
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.ProjectManagerName"
      >
        PM
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.StartDate"
        class="hidden xl:table-cell"
      >
        Start Date
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.EndDate"
        class="hidden xl:table-cell"
      >
        End Date
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.ProjectStatus"
      >
        Status
      </th>
      <th
        scope="col"
        width="250"
        [hq-sort-header]="listService.SortColumn.SummaryPercentComplete"
        class="hidden xl:table-cell"
      >
        Complete %
      </th>

      <th scope="col" width="150">
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <hq-button
            routerLink="/projects/create"
            [queryParams]="{ clientId: clientDetailsService.clientId$ | async }"
          >
            <i class="bi bi-plus"></i>
            Project
          </hq-button>
        }
      </th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @for ((record of listService.records$ | async); track $index) {
      <tr>
        <td>
          {{ record.chargeCode }}
        </td>
        <td>{{ record.clientName }}</td>
        <td>{{ record.name }}</td>
        <td>
          {{ record.projectManagerName }}
        </td>
        <td class="hidden xl:table-cell">{{ record.startDate }}</td>
        <td class="hidden xl:table-cell">{{ record.endDate }}</td>
        <td>
          {{ listService.ProjectStatus[record.projectStatus] }}
        </td>
        <td class="hidden xl:table-cell">
          @if (record.projectStatus === listService.ProjectStatus.Ongoing) {
            @if (
              record.bookingPercentComplete && record.bookingPercentComplete > 1
            ) {
              <div
                class="w-full bg-gray-450 border border-red-950 h-[10px]"
                title="{{ record.bookingStartDate }} - {{
                  record.bookingEndDate
                }}"
              >
                <div
                  class="bg-red-950 h-[8px]"
                  [style.width.%]="
                    Math.min(record.bookingPercentComplete - 1, 1) * 100
                  "
                ></div>
              </div>
            } @else {
              <div
                class="w-full bg-gray-500 border border-white h-[10px]"
                title="{{ record.bookingStartDate }} - {{
                  record.bookingEndDate
                }}"
              >
                <div
                  class="bg-white h-[8px]"
                  [style.width.%]="(record.bookingPercentComplete ?? 0) * 100"
                ></div>
              </div>
            }
            <div class="flex justify-between gap-2 text-xs text-gray-300">
              <span class="lowercase"
                >{{ record.bookingHours | number: "0.2-2" }} hrs
                {{ listService.Period[record.bookingPeriod] }} to date</span
              >
              <span>{{ record.bookingPercentComplete | percent }}</span>
            </div>
          }
          @if (
            record.projectStatus === listService.ProjectStatus.InProduction
          ) {
            @if (
              record.totalPercentComplete && record.totalPercentComplete > 1
            ) {
              <div
                class="w-full bg-gray-450 border border-red-950 h-[10px]"
                title="{{ record.totalStartDate ?? '-' }} - {{
                  record.totalEndDate ?? '-'
                }}"
              >
                <div
                  class="bg-red-950 h-[8px]"
                  [style.width.%]="
                    Math.min(record.totalPercentComplete - 1, 1) * 100
                  "
                ></div>
              </div>
            } @else {
              <div
                class="w-full bg-gray-500 border border-white h-[10px]"
                title="{{ record.totalStartDate ?? '-' }} - {{
                  record.totalEndDate ?? '-'
                }}"
              >
                <div
                  class="bg-white h-[8px]"
                  [style.width.%]="(record.totalPercentComplete ?? 0) * 100"
                ></div>
              </div>
            }
            <div class="flex justify-between gap-2 text-xs text-gray-300">
              <span>{{ record.totalHours | number: "0.2-2" }} hrs total</span>
              <span>{{
                record.totalPercentComplete !== null
                  ? (record.totalPercentComplete | percent)
                  : "-"
              }}</span>
            </div>
          }
        </td>
        <td>
          <a
            [routerLink]="['/projects', record.id]"
            class="text-teal-200 hover:text-teal-300"
            >VIEW</a
          >
        </td>
      </tr>
    }
  </tbody>
</hq-table>
