<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Charge Codes</h1>
</div>

<div class="px-5 pt-4 mb-[8px]">
  <div class="flex flex-col lg:flex-row justify-between items-start">
    <div class="flex items-center order-2 lg:order-1 gap-[20px]">
      <div class="flex w-full flex-1 items-center gap-[20px] mb-[8px] xl:mb-0">
        <!-- search bar -->
        <div
          class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-full max-w-[395px]"
        >
          <span
            class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100"
          >
            <i class="bi bi-search text-[14px]"></i>
          </span>
          <input
            type="text"
            [formControl]="listService.search"
            class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
            name=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<hq-table class="min-w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        [hq-sort-header]="sortColumn.Code"
      >
        Charge Code
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.Billable"
      >
        Billable
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.Active"
      >
        Active
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.ProjectName"
      >
        Project Name
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.QuoteName"
      >
        Quote Name
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.ServiceAgreementName"
      >
        Service Agreement Name
      </th>

      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5"
        colspan="2"
      >
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <button
            routerLink="/chargecodes/create"
            class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
          >
            <i class="bi bi-plus"></i>
            Chargecode
          </button>
        }
      </th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @if ((listService.records$ | async)?.length === 0) {
      <td colspan="7" class="bg-black-alt">
        <h1 class="text-center py-4 font-bold">No matching records found</h1>
      </td>
    }
    @for ((chargeCode of listService.records$ | async); track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black py-2 pl-5">{{ chargeCode.code }}</td>
        <td class="border-b border-black py-2">
          {{ chargeCode.billable ? "Yes" : "No" }}
        </td>
        <td class="border-b border-black py-2">
          {{ chargeCode.active ? "Yes" : "No" }}
        </td>
        <td class="border-b border-black py-2">{{ chargeCode.projectName }}</td>
        <td class="border-b border-black py-2">{{ chargeCode.quoteName }}</td>
        <td class="border-b border-black py-2">
          {{ chargeCode.serviceAgreementName }}
        </td>
        <td class="border-b border-black py-2 text-right pr-5">
          @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
            <a
              [routerLink]="['edit', chargeCode.id]"
              class="text-teal-200 hover:text-teal-300"
              >EDIT</a
            >
          }
        </td>
      </tr>
    }
  </tbody>
</hq-table>
