<div class="p-3 flex flex-col gap-2">
  <div><hq-button>Primary Button</hq-button></div>
  <div><hq-button routerLink="/psr">Primary Link Button</hq-button></div>
  <div><hq-button [disabled]="true">Disabled Button</hq-button></div>
  <div>
    <hq-button [disabled]="true" routerLink="/psr"
      >Disabled Link Button</hq-button
    >
  </div>
  <div><hq-button variant="outline">Outline Button</hq-button></div>
  <div>
    <hq-button variant="outline" routerLink="/psr"
      >Outline Link Button</hq-button
    >
  </div>
</div>

<div class="p-3">
  <hq-button (click)="toggleDisabled()">Toggle Disabled</hq-button>
</div>

<div class="p-3">
  <hq-search-input [formControl]="search" label="Search Input">
    <ng-template hqValidationError="required">
      The search field is required.
    </ng-template>
    <ng-template hqValidationError="minlength">
      The minimum length is invalid.
    </ng-template>
  </hq-search-input>
</div>

<div class="p-3">
  <hq-text-input
    [formControl]="text"
    placeholder="Placeholder text here"
    label="Text Input"
  >
    <ng-template hqValidationError="required">
      The text field is required.
    </ng-template>
    <ng-template hqValidationError="minlength">
      The minimum length is invalid.
    </ng-template>
  </hq-text-input>
</div>
