<div class="p-3">
  <pre>Search: {{ search.value | json }}</pre>
  <pre>Text: {{ text.value | json }}</pre>

  <button type="button" (click)="toggleDisabled()">Toggle Disabled</button>
</div>

<div class="p-3">
  <hq-search-input [formControl]="search" label="Search Input">
    <ng-template hqValidationError="required">
      The search field is required.
    </ng-template>
    <ng-template hqValidationError="minlength">
      The minimum length is invalid.
    </ng-template>
  </hq-search-input>
</div>

<div class="p-3">
  <hq-text-input
    [formControl]="text"
    placeholder="Placeholder text here"
    label="Text Input"
  >
    <ng-template hqValidationError="required">
      The text field is required.
    </ng-template>
    <ng-template hqValidationError="minlength">
      The minimum length is invalid.
    </ng-template>
  </hq-text-input>
</div>
