<div class="p-3">
  <pre>String: {{ string | json }}</pre>
  <pre>String (Form Control): {{ stringFormControl.value | json }}</pre>
</div>

<div class="p-3">
  <h1>Form Label</h1>
  <hq-form-label>Some Label Example</hq-form-label>
</div>

<div class="p-3">
  <h1>Search Input bound using ngModel</h1>
  <hq-search-input [(ngModel)]="string" />
</div>

<div class="p-3">
  <h1>Search Input bound using formControl</h1>
  <hq-search-input [formControl]="stringFormControl">
    <ng-template hqValidationError="required">
      The search field is required.
    </ng-template>
    <ng-template hqValidationError="minlength">
      The minimum length is invalid.
    </ng-template>
  </hq-search-input>
</div>
