<table class="min-w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
        (click)="onSortClick(sortColumn.StartDate)"
      >
        PSR week of
        <!-- sorted by client name --> <hq-sort-icon [column]="sortColumn.StartDate" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />

      </th>
      <th
        scope="col"
        colspan="2"
        class="bg-blue-900 border-steel-blue-600 border-y py-3"
        (click)="onSortClick(sortColumn.ThisHours)"
      >
        This Hrs  <hq-sort-icon [column]="sortColumn.ThisHours" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />
      </th>
    </tr>
  </thead>
  <tbody>
    @for (psrWeek of PSRWorkWeeks | async; track $index) {
    <tr
      [ngClass]="
        $index % 2 != 0 ? 'bg-blue-900' : 'even:bg-gray-850 odd:bg-black-alt'
      "
    >
      <td class="border-b border-black py-2 pl-5">{{ psrWeek.startDate }}</td>
      <td class="border-b border-black py-2">{{ psrWeek.thisHours }}</td>
      <td class="border-b border-black py-2 text-right pr-5">
        <a
          class="text-teal-200 hover:text-teal-300"
          routerLink="time"
          [queryParams]="{ psrId: psrWeek.id }"
          (click)="psrClicked(psrWeek.id)"
          >VIEW</a
        >
      </td>
    </tr>
    }
  </tbody>
</table>
