<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Clients</h1>

  <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">&nbsp;</div>
</div>

<div class="px-5 pt-4 pb-2">
  <div class="flex w-full flex-1 items-end gap-[20px] mb-[8px] xl:mb-0">
    <hq-search-input [formControl]="listService.search"></hq-search-input>
  </div>
</div>

<hq-table>
  <thead>
    <tr class="sticky top-0 text-left">
      <th scope="col" width="250" [hq-sort-header]="sortColumn.Name">
        Client Name
      </th>
      <th
        scope="col"
        width="100"
        [hq-sort-header]="sortColumn.HourlyRate"
        class="text-right"
      >
        Rate
      </th>
      <th scope="col" width="250" [hq-sort-header]="sortColumn.BillingEmail">
        Billing Email
      </th>
      <th
        scope="col"
        [hq-sort-header]="sortColumn.OfficialName"
        class="hidden xl:table-cell"
      >
        Official Name
      </th>
      <th scope="col" width="160" class="text-right">
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <hq-button routerLink="/clients/create">
            <i class="bi bi-plus"></i>
            Client
          </hq-button>
        }
      </th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @for (client of listService.records$ | async; track client.id) {
      <tr>
        <td>{{ client.name }}</td>
        <td class="text-right">
          {{ (client.hourlyRate | currency) ?? "-" }}
        </td>
        <td>
          @if (client.billingEmail) {
            <a href="mailto:{{ client.billingEmail }}">{{
              client.billingEmail
            }}</a>
          } @else {
            None
          }
        </td>
        <td class="hidden xl:table-cell">
          {{ client.officialName ?? "-" }}
        </td>
        <td class="text-right">
          <div class="text-nowrap divide-x divide-teal-200">
            @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
              <a
                [routerLink]="['edit', client.id]"
                class="text-teal-200 hover:text-teal-300 pr-3"
                >EDIT</a
              >
            }
            <a
              [routerLink]="[client.id]"
              class="text-teal-200 hover:text-teal-300 pl-3"
              >VIEW</a
            >
          </div>
        </td>
      </tr>
    }
  </tbody>
</hq-table>
