<div class="px-5">
    <h1 class="font-rajdhani font-semibold text-3xl">Clients</h1>

    <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">
        &nbsp;
    </div>
</div>

<div class="px-5 pt-4 mb-[8px]">
    <div class="flex flex-col lg:flex-row justify-between items-start">
        <div class="flex items-center order-2 lg:order-1 gap-[20px]">
            <!-- search bar -->
            <div class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-[395px]">
                <span class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100">
                    <i class="bi bi-search text-[14px]"></i>
                </span>
                <input type="text" class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded" name="">
            </div>
        </div>
    </div>
</div>

<table class="min-w-full border-spacing-0 border-separate">
    <thead>
        <tr class="sticky top-0 text-left">
            <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5">Client Name <!-- sorted by client name --><i class="bi bi-sort-down ml-2"></i></th>
            <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3">Rate <i class="bi bi-arrow-down-up text-[12px] ml-2"></i></th>
            <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3">Billing Email <i class="bi bi-arrow-down-up text-[12px] ml-2"></i></th>
            <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3">Official Name <i class="bi bi-arrow-down-up text-[12px] ml-2"></i></th>
            <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5" colspan="2">
                <button routerLink="/clients/create" class="px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal">
                    <i class="bi bi-plus"></i>
                    Client
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @for(i of [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]; track i)
        {
            <tr class="even:bg-gray-850 odd:bg-black-alt">
                <td class="border-b border-black py-2 pl-5">Client {{ i }}</td>
                <td class="border-b border-black py-2">$105.00</td>
                <td class="border-b border-black py-2">billiningEmail&#64;client{{ i }}.com</td>
                <td class="border-b border-black py-2">Official Name - Probably longer than the Name</td>
                <td class="border-b border-black py-2 text-right pr-5"><a [routerLink]="[i]" class="text-teal-200 hover:text-teal-300">VIEW</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="justify-between items-center grid grid-cols-3 py-3 px-5 bg-blue-900 border-y border-steel-blue-600">
    <div>
        <select class="bg-black-alt border border-gray-300 rounded py-1 px-2 mr-2">
            <option value="20">20</option>
            <!-- Add more options as needed -->
        </select>
        <span>items per page</span>
    </div>
    <div class="flex items-center justify-center">
        <a href="#" class="px-1 py-1 mr-2 font-semibold hover:bg-teal-200 hover:text-blue-950">
            <i class="bi bi-arrow-left-short text-[18px]"></i>
        </a>
        <!-- active start -->
        <a href="#" class="px-2 py-1 font-semibold rounded bg-teal-200 text-blue-950 hover:bg-teal-300">1</a>
        <!-- active end -->
        <a href="#" class="px-2 py-1 font-semibold rounded hover:bg-teal-200 hover:text-blue-950">3</a>
        <a href="#" class="px-2 py-1 font-semibold rounded hover:bg-teal-200 hover:text-blue-950">2</a>
        <a href="#" class="px-2 py-1 font-semibold rounded hover:bg-teal-200 hover:text-blue-950">4</a>
        <a href="#" class="px-2 py-1 font-semibold rounded hover:bg-teal-200 hover:text-blue-950">5</a>
        <a href="#" class="px-1 py-1 ml-2 font-semibold rounded hover:bg-teal-200 hover:text-blue-950">
            <i class="bi bi-arrow-right-short text-[18px]"></i>
        </a>
    </div>
    <div class="flex justify-end text-xs">
        1-20 / 200 items
    </div>
</div>