<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Projects</h1>
</div>

<div class="px-5 pt-4 mb-[8px]">
  <div class="flex flex-col lg:flex-row justify-between items-start">
    <div class="flex items-center order-2 lg:order-1 gap-[20px]">
      <hq-project-list-search-filter />
    </div>
  </div>
</div>

<table class="min-w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        (click)="onSortClick(sortColumn.ChargeCode)"
      >
        Charge Code
        <hq-sort-icon
          [column]="sortColumn.ChargeCode"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.ProjectName)"
      >
        Project Full Name
        <!-- sorted by client name -->
        <hq-sort-icon
          [column]="sortColumn.ProjectName"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.ClientName)"
      >
        Client Name
        <hq-sort-icon
          [column]="sortColumn.ProjectManagerName"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.ProjectManagerName)"
      >
        PM
        <hq-sort-icon
          [column]="sortColumn.ProjectManagerName"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.StartDate)"
      >
        Start Date
        <hq-sort-icon
          [column]="sortColumn.StartDate"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.EndDate)"
      >
        End Date
        <hq-sort-icon
          [column]="sortColumn.EndDate"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.ProjectStatus)"
      >
        Status
        <hq-sort-icon
          [column]="sortColumn.ProjectStatus"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        colspan="2"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.SummaryPercentComplete)"
      >
        Complete %
        <hq-sort-icon
          [column]="sortColumn.SummaryPercentComplete"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>

      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5"
        colspan="2"
      >
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <button
            routerLink="/projects/create"
            class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
          >
            <i class="bi bi-plus"></i>
            Project
          </button>
        }
      </th>
    </tr>
  </thead>
  <tbody>
    @if ((projects$ | async)?.length === 0) {
      <td colspan="10">
        <h1 class="text-center py-4 font-bold">No matching records found</h1>
      </td>
    }
    @for ((project of projects$ | async); track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black py-2 pl-5">
          {{ project.chargeCode }}
        </td>
        <td class="border-b border-black py-2">{{ project.name }}</td>
        <td class="border-b border-black py-2">{{ project.clientName }}</td>

        <td class="border-b border-black py-2">
          {{ project.projectManagerName }}
        </td>
        <td class="border-b border-black py-2">{{ project.startDate }}</td>
        <td class="border-b border-black py-2">{{ project.endDate }}</td>
        <td class="border-b border-black py-2">
          {{ getProjectSatusString(project.projectStatus) }}
        </td>
        <td width="200" class="border-b border-black py-2 pe-2">
          @if (project.projectStatus === ProjectStatus.Ongoing) {
            @if (
              project.bookingPercentComplete &&
              project.bookingPercentComplete > 1
            ) {
              <div
                class="w-full bg-gray-450 border border-red-950 h-[10px]"
                title="{{ project.bookingStartDate }} - {{
                  project.bookingEndDate
                }}"
              >
                <div
                  class="bg-red-950 h-[8px]"
                  [style.width.%]="
                    Math.min(project.bookingPercentComplete - 1, 1) * 100
                  "
                ></div>
              </div>
            } @else {
              <div
                class="w-full bg-gray-500 border border-white h-[10px]"
                title="{{ project.bookingStartDate }} - {{
                  project.bookingEndDate
                }}"
              >
                <div
                  class="bg-white h-[8px]"
                  [style.width.%]="(project.bookingPercentComplete ?? 0) * 100"
                ></div>
              </div>
            }
            <div class="flex justify-between gap-2 text-xs text-gray-300">
              <span class="lowercase"
                >{{ project.bookingHours | number: "0.2-2" }} hrs
                {{ getPeriodName(project.bookingPeriod) }} to date</span
              >
              <span>{{ project.bookingPercentComplete | percent }}</span>
            </div>
          }
          @if (project.projectStatus === ProjectStatus.InProduction) {
            @if (
              project.totalPercentComplete && project.totalPercentComplete > 1
            ) {
              <div
                class="w-full bg-gray-450 border border-red-950 h-[10px]"
                title="{{ project.totalStartDate ?? '-' }} - {{
                  project.totalEndDate ?? '-'
                }}"
              >
                <div
                  class="bg-red-950 h-[8px]"
                  [style.width.%]="
                    Math.min(project.totalPercentComplete - 1, 1) * 100
                  "
                ></div>
              </div>
            } @else {
              <div
                class="w-full bg-gray-500 border border-white h-[10px]"
                title="{{ project.totalStartDate ?? '-' }} - {{
                  project.totalEndDate ?? '-'
                }}"
              >
                <div
                  class="bg-white h-[8px]"
                  [style.width.%]="(project.totalPercentComplete ?? 0) * 100"
                ></div>
              </div>
            }
            <div class="flex justify-between gap-2 text-xs text-gray-300">
              <span>{{ project.totalHours | number: "0.2-2" }} hrs total</span>
              <span>{{
                project.totalPercentComplete !== null
                  ? (project.totalPercentComplete | percent)
                  : "-"
              }}</span>
            </div>
          }
        </td>
        <td></td>
        <td class="border-b border-black py-2 text-right pr-5">
          <a
            [routerLink]="[project.id]"
            class="text-teal-200 hover:text-teal-300"
            >VIEW</a
          >
        </td>
      </tr>
    }
  </tbody>
</table>
<div
  class="justify-between items-center grid grid-cols-3 py-3 px-5 bg-blue-900 border-y border-steel-blue-600"
>
  <div>
    <select
      class="bg-black-alt border border-gray-300 rounded py-1 px-2 mr-2"
      [formControl]="projectSearchFilterService.itemsPerPage"
    >
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
      <!-- Add more options as needed -->
    </select>
    <span>items per page</span>
  </div>
  <hq-paginator
    [total]="(totalRecords$ | async) ?? 0"
    [pageSize]="projectSearchFilterService.itemsPerPage.value"
    [currentPage]="projectSearchFilterService.page.value"
    (page)="goToPage($event)"
  ></hq-paginator>
  <div class="flex justify-end text-xs">
    {{ skipDisplay$ | async }}-{{ takeToDisplay$ | async }} /
    {{ totalRecords$ | async }} items
  </div>
</div>
