<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Projects</h1>
  <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">&nbsp;</div>
</div>

<div class="px-5 pt-4 mb-[8px]">
  <div class="flex flex-col lg:flex-row justify-between items-start">
    <div class="flex items-center order-2 lg:order-1 gap-[20px]">
      <div class="flex w-full flex-1 items-end gap-[20px] mb-[8px] xl:mb-0">
        <div class="w-full">
          <hq-search-input [formControl]="listService.search"></hq-search-input>
        </div>

        <div class="w-full">
          <hq-select-input
            label="Project Manager"
            [formControl]="listService.projectManagerId"
            [autocomplete]="true"
          >
            <ng-template [hqSelectInputOption]="null">All</ng-template>
            @for (
              projectManager of listService.projectManagers$ | async;
              track projectManager.id
            ) {
              <ng-template
                [hqSelectInputOption]="projectManager.id"
                [hqSelectInputOptionSelectedDisplay]="projectManager.name"
                [hqSelectInputOptionSearch]="projectManager.name"
                >{{ projectManager.name }}</ng-template
              >
            }
          </hq-select-input>
        </div>

        <div class="w-full">
          <hq-select-input
            label="Project Status"
            [formControl]="listService.projectStatus"
            [autocomplete]="true"
          >
            <ng-template [hqSelectInputOption]="null">All</ng-template>
            @for (
              status of listService.projectStatusEnum$ | async;
              track status.id
            ) {
              <ng-template
                [hqSelectInputOption]="status.id"
                [hqSelectInputOptionSelectedDisplay]="status.name"
                [hqSelectInputOptionSearch]="status.name"
                >{{ status.name }}</ng-template
              >
            }
          </hq-select-input>
        </div>
        @if (listService) {}
        <div class="inline-flex items-center">
          <div class="text-[12px] mr-[10px] leading-none text-nowrap">
            Show current only
          </div>
          <label class="relative inline-flex cursor-pointer items-center">
            <input
              id="switch"
              type="checkbox"
              class="peer sr-only"
              [formControl]="listService.currentOnly"
              checked
            />
            <label for="switch" class="hidden"></label>
            <div
              class="peer h-[14px] w-[33px] rounded-full bg-slate-200 after:absolute after:left-[4px] after:top-[3px] after:h-[8px] after:w-[8px] after:rounded-full after:bg-gray-500 peer-checked:after:bg-white after:transition-all after:content-[''] peer-checked:bg-steel-blue-600 peer-checked:after:translate-x-full peer-checked:after:right-[12px] peer-checked:after:left-auto"
            ></div>
          </label>
          <div class="text-xs ml-[6px]">On</div>
        </div>
      </div>
    </div>
  </div>
</div>

<hq-table>
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        width="140"
        [hq-sort-header]="listService.SortColumn.ChargeCode"
      >
        Chrg Code
      </th>
      <th
        scope="col"
        width="250"
        [hq-sort-header]="listService.SortColumn.ClientName"
      >
        Client
      </th>
      <th scope="col" [hq-sort-header]="listService.SortColumn.ProjectName">
        Project
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.ProjectManagerName"
      >
        PM
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.StartDate"
        class="hidden xl:table-cell"
      >
        Start Date
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.EndDate"
        class="hidden xl:table-cell"
      >
        End Date
      </th>
      <th
        scope="col"
        width="150"
        [hq-sort-header]="listService.SortColumn.ProjectStatus"
      >
        Status
      </th>
      <th
        scope="col"
        width="250"
        [hq-sort-header]="listService.SortColumn.SummaryPercentComplete"
        class="hidden xl:table-cell"
      >
        Complete %
      </th>

      <th scope="col" width="150" class="text-right">
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <hq-button routerLink="/projects/create">
            <i class="bi bi-plus"></i>
            Project
          </hq-button>
        }
      </th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @for ((record of listService.records$ | async); track $index) {
      <tr>
        <td>
          {{ record.chargeCode }}
        </td>
        <td>{{ record.clientName }}</td>
        <td>{{ record.name }}</td>
        <td>
          {{ record.projectManagerName }}
        </td>
        <td class="hidden xl:table-cell">{{ record.startDate }}</td>
        <td class="hidden xl:table-cell">{{ record.endDate }}</td>
        <td>
          {{ listService.ProjectStatus[record.projectStatus] }}
        </td>
        <td class="hidden xl:table-cell">
          @if (record.projectStatus === listService.ProjectStatus.Ongoing) {
            @if (
              record.bookingPercentComplete && record.bookingPercentComplete > 1
            ) {
              <div
                class="w-full bg-gray-450 border border-red-950 h-[10px]"
                title="{{ record.bookingStartDate }} - {{
                  record.bookingEndDate
                }}"
              >
                <div
                  class="bg-red-950 h-[8px]"
                  [style.width.%]="
                    Math.min(record.bookingPercentComplete - 1, 1) * 100
                  "
                ></div>
              </div>
            } @else {
              <div
                class="w-full bg-gray-500 border border-white h-[10px]"
                title="{{ record.bookingStartDate }} - {{
                  record.bookingEndDate
                }}"
              >
                <div
                  class="bg-white h-[8px]"
                  [style.width.%]="(record.bookingPercentComplete ?? 0) * 100"
                ></div>
              </div>
            }
            <div class="flex justify-between gap-2 text-xs text-gray-300">
              <span class="lowercase"
                >{{ record.bookingHours | number: "0.2-2" }} hrs
                {{ listService.Period[record.bookingPeriod] }} to date</span
              >
              <span>{{ record.bookingPercentComplete | percent }}</span>
            </div>
          }
          @if (
            record.projectStatus === listService.ProjectStatus.InProduction
          ) {
            @if (
              record.totalPercentComplete && record.totalPercentComplete > 1
            ) {
              <div
                class="w-full bg-gray-450 border border-red-950 h-[10px]"
                title="{{ record.totalStartDate ?? '-' }} - {{
                  record.totalEndDate ?? '-'
                }}"
              >
                <div
                  class="bg-red-950 h-[8px]"
                  [style.width.%]="
                    Math.min(record.totalPercentComplete - 1, 1) * 100
                  "
                ></div>
              </div>
            } @else {
              <div
                class="w-full bg-gray-500 border border-white h-[10px]"
                title="{{ record.totalStartDate ?? '-' }} - {{
                  record.totalEndDate ?? '-'
                }}"
              >
                <div
                  class="bg-white h-[8px]"
                  [style.width.%]="(record.totalPercentComplete ?? 0) * 100"
                ></div>
              </div>
            }
            <div class="flex justify-between gap-2 text-xs text-gray-300">
              <span>{{ record.totalHours | number: "0.2-2" }} hrs total</span>
              <span>{{
                record.totalPercentComplete !== null
                  ? (record.totalPercentComplete | percent)
                  : "-"
              }}</span>
            </div>
          }
        </td>
        <td class="text-right">
          <a
            [routerLink]="[record.id]"
            class="text-teal-200 hover:text-teal-300"
            >VIEW</a
          >
        </td>
      </tr>
    }
  </tbody>
</hq-table>
