<div class="w-full flex items-center gap-[20px] mb-[8px] xl:mb-0">
  @if (timeService.showSearch$ | async) {
    <div class="flex w-full">
      <hq-search-input
        label="Search"
        [formControl]="timeService.search"
      ></hq-search-input>
    </div>
  }
  @if (
    (timeService.staffMembers$ | async) && timeService.showStaffMembers$ | async
  ) {
    <div class="w-full">
      <hq-select-input
        label="Select Staff"
        [formControl]="timeService.staffMember"
        [autocomplete]="true"
        variant="secondary"
      >
        <ng-template [hqSelectInputOption]="null">All</ng-template>
        @for (
          staffMember of timeService.staffMembers$ | async;
          track staffMember.id
        ) {
          <ng-template
            [hqSelectInputOption]="staffMember.id"
            [hqSelectInputOptionSelectedDisplay]="staffMember.name"
            [hqSelectInputOptionSearch]="staffMember.name"
            >{{ staffMember.name }}</ng-template
          >
        }
      </hq-select-input>
    </div>
  }
  @if (timeService.clients$ | async) {
    <div class="w-full">
      <hq-select-input
        label="Select Client"
        [formControl]="timeService.client"
        [autocomplete]="true"
        variant="secondary"
      >
        <ng-template [hqSelectInputOption]="null">All</ng-template>
        @for (client of timeService.clients$ | async; track client.id) {
          <ng-template
            [hqSelectInputOption]="client.id"
            [hqSelectInputOptionSelectedDisplay]="client.name"
            [hqSelectInputOptionSearch]="client.name"
            >{{ client.name }}</ng-template
          >
        }
      </hq-select-input>
    </div>
  }
  @if (timeService.projects$ | async) {
    <div class="w-full">
      <hq-select-input
        label="Select Project"
        [formControl]="timeService.project"
        [autocomplete]="true"
        variant="secondary"
      >
        <ng-template [hqSelectInputOption]="null">All</ng-template>
        @for (project of timeService.projects$ | async; track project.id) {
          <ng-template
            [hqSelectInputOption]="project.id"
            [hqSelectInputOptionSelectedDisplay]="project.name"
            [hqSelectInputOptionSearch]="project.name"
            >{{ project.name }}</ng-template
          >
        }
      </hq-select-input>
    </div>
  }
  <div class="w-full">
    <hq-select-input
      label="Time Status"
      [autocomplete]="true"
      [formControl]="timeService.timeStatus"
      variant="secondary"
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      @for (status of timeService.statusList; track status.id) {
        <ng-template
          [hqSelectInputOption]="status.id"
          [hqSelectInputOptionSearch]="status.name"
          [hqSelectInputOptionSelectedDisplay]="status.name"
          >{{ status.name }}</ng-template
        >
      }
    </hq-select-input>
  </div>
  <div class="w-full">
    <hq-select-input
      label="Invoiced"
      [autocomplete]="true"
      [formControl]="timeService.invoiced"
      variant="secondary"
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>

      <ng-template
        [hqSelectInputOption]="true"
        [hqSelectInputOptionSearch]="'Yes'"
        [hqSelectInputOptionSelectedDisplay]="'Yes'"
        >{{ "Yes" }}</ng-template
      >
      <ng-template
        [hqSelectInputOption]="false"
        [hqSelectInputOptionSearch]="'No'"
        [hqSelectInputOptionSelectedDisplay]="'No'"
        >{{ "No" }}</ng-template
      >
    </hq-select-input>
  </div>
  <div class="w-full">
    <hq-select-input
      label="Billable"
      [autocomplete]="true"
      [formControl]="timeService.billable"
      variant="secondary"
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>

      <ng-template
        [hqSelectInputOption]="true"
        [hqSelectInputOptionSearch]="'Yes'"
        [hqSelectInputOptionSelectedDisplay]="'Yes'"
        >{{ "Yes" }}</ng-template
      >
      <ng-template
        [hqSelectInputOption]="false"
        [hqSelectInputOptionSearch]="'No'"
        [hqSelectInputOptionSelectedDisplay]="'No'"
        >{{ "No" }}</ng-template
      >
    </hq-select-input>
  </div>
  <div class="w-full">
    <hq-select-input
      label="Period"
      [inline]="true"
      [autocomplete]="true"
      (hqBlur)="showHideDates()"
      [formControl]="timeService.selectedPeriod"
      variant="secondary"
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      <ng-template
        [hqSelectInputOption]="timeService.Period.None"
        [hqSelectInputOptionSearch]="'None'"
        [hqSelectInputOptionSelectedDisplay]="'None'"
        >{{ "None" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.Week"
        [hqSelectInputOptionSearch]="'This Week'"
        [hqSelectInputOptionSelectedDisplay]="'This Week'"
        >{{ "This Week" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.Month"
        [hqSelectInputOptionSearch]="'This Month'"
        [hqSelectInputOptionSelectedDisplay]="'This Month'"
        >{{ "This Month" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.Quarter"
        [hqSelectInputOptionSearch]="'This Quarter'"
        [hqSelectInputOptionSelectedDisplay]="'This Quarter'"
        >{{ "This Quarter" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.Year"
        [hqSelectInputOptionSearch]="'This Year'"
        [hqSelectInputOptionSelectedDisplay]="'This Year'"
        >{{ "This Year" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.Today"
        [hqSelectInputOptionSearch]="'Today'"
        [hqSelectInputOptionSelectedDisplay]="'Today'"
        >{{ "Today" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.LastWeek"
        [hqSelectInputOptionSearch]="'Last Week'"
        [hqSelectInputOptionSelectedDisplay]="'Last Week'"
        >{{ "Last Week" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.LastMonth"
        [hqSelectInputOptionSearch]="'Last Month'"
        [hqSelectInputOptionSelectedDisplay]="'Last Month'"
        >{{ "Last Month" }}</ng-template
      >

      <ng-template
        [hqSelectInputOption]="timeService.Period.Custom"
        [hqSelectInputOptionSearch]="'Custom'"
        [hqSelectInputOptionSelectedDisplay]="'Custom'"
        >{{ "Custom" }}</ng-template
      >
    </hq-select-input>
  </div>

  @if (timeService.showStartDate$ | async) {
    <div class="relative flex flex-col w-full max-w-[220px]">
      <label
        for="startDate"
        class="font-open-sans text-nav-disabled text-xs font-bold uppercase whitespace-nowrap"
        >Start Date</label
      >
      <div class="grid relative">
        <input
          [formControl]="timeService.startDate"
          type="date"
          class="w-full block text-[14px] px-2 py-1 border row-start-1 col-start-1 self-center justify-self-end border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px] uppercase"
        />
        <span
          class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
        >
          <i class="bi bi-arrow-down-short text-[24px] bg-blue-900"></i>
        </span>
      </div>
    </div>
  }
  @if (timeService.showEndDate$ | async) {
    <div class="relative flex flex-col w-full max-w-[220px]">
      <label
        for="endDate"
        class="font-open-sans text-nav-disabled text-xs font-bold uppercase whitespace-nowrap"
        >End Date</label
      >
      <div class="grid relative">
        <input
          [formControl]="timeService.endDate"
          type="date"
          class="w-full block text-[14px] px-2 py-1 border row-start-1 col-start-1 self-center justify-self-end border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px] uppercase"
        />
        <span
          class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
        >
          <i class="bi bi-arrow-down-short text-[24px] bg-blue-900"></i>
        </span>
      </div>
    </div>
  }
</div>
