<div class="flex w-full flex-1 items-center gap-[20px] mb-[8px] xl:mb-0">
    <!-- search bar -->
    <div class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-full max-w-[395px]">
        <span class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100">
    <i class="bi bi-search text-[14px]"></i>
  </span>
        <input type="text" [formControl]="psrService.search" class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded" name="" />
    </div>
</div>
