<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Invoices</h1>

  <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">&nbsp;</div>
</div>
<div class="px-5 pt-4 pb-2">
  <hq-invoice-search-filter></hq-invoice-search-filter>
</div>
<hq-table>
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        [hq-sort-header]="sortColumn.ClientName"
      >
        Client Name
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.InvoiceNumber"
      >
        Invoices Number
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.Total"
      >
        Total
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.TotalApprovedHours"
      >
        Total Approved Hours
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.Date"  
      >
        Date
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5"
        colspan="2"
      >
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <button
            routerLink="/invoices/create"
            class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
          >
            <i class="bi bi-plus"></i>
            Invoices
          </button>
        }
      </th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @for (invoice of invoiceListService.records$ | async; track invoice.id) {
      <tr>
        <td>{{ invoice.clientName }}</td>
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.total }}</td>
        <td>{{ invoice.totalApprovedHours }}</td>
        <td>{{ invoice.date }}</td>
        <td class="text-right">
          <div class="text-nowrap divide-x divide-teal-200">
              <a
                class="text-teal-200 hover:text-teal-300"
                [routerLink]="[invoice.id, 'details']"
                >VIEW
              </a>
          </div>
        </td>
      </tr>
    }
  </tbody>
</hq-table>
