<div class="grid relative w-full">
  <select
    #select
    [id]="uniqueId"
    [(ngModel)]="value"
    [ngClass]="{
      'border-red-700 focus:border-red-700':
        ngControl?.invalid && ngControl?.touched,
      'border-black': !(ngControl?.invalid && ngControl?.touched),
    }"
    (blur)="onBlur()"
    (keydown.enter)="onEnter($event.target)"
    class="w-full pl-2 pr-[43px] appearance-none focus:outline-none hover:cursor-pointer font-medium row-start-1 col-start-1 border focus:border-white text-gray-100 bg-blue-900 rounded h-[30px]"
  >
    @for (option of options; track option.value) {
      <option [ngValue]="option.value">
        <ng-container [ngTemplateOutlet]="option.templateRef"></ng-container>
      </option>
    }
  </select>
  <span
    class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
  >
    <i class="bi bi-arrow-down-short text-[24px]"></i>
  </span>
</div>
@for (error of validationErrors; track error.hqValidationError) {
  @if (
    ngControl &&
    ngControl.errors &&
    ngControl.touched &&
    error.hqValidationError &&
    ngControl.errors[error.hqValidationError]
  ) {
    <div class="text-red-700 text-xs leading-normal">
      <ng-container [ngTemplateOutlet]="error.templateRef"></ng-container>
    </div>
  }
}
