@if (label) {
  <hq-form-label [for]="uniqueId">{{ label }}</hq-form-label>
}
<div
  class="flex items-stretch border bg-blue-900 rounded h-[36px] w-full"
  [ngClass]="{
    'border-gray-450 text-gray-450': disabled,
    'border-red-500 text-gray-100': ngControl?.invalid && ngControl?.touched,
    'border-steel-blue-600 text-gray-100':
      !(ngControl?.invalid && ngControl?.touched) && color === 'primary',
    'border-black text-gray-100':
      !(ngControl?.invalid && ngControl?.touched) && color === 'secondary',
    'border-white text-gray-100': focused,
  }"
>
  <button
    type="button"
    [disabled]="disabled"
    (click)="focus()"
    class="w-[36px]"
    [class.cursor-pointer]="!disabled"
    tabindex="-1"
  >
    <i class="bi bi-search text-[14px]"></i>
  </button>
  <input
    #input
    [id]="uniqueId"
    (focus)="onFocus()"
    (blur)="onBlur()"
    type="text"
    class="w-full block text-[14px] pl-0 px-2 py-1 appearance-none focus:outline-none font-medium bg-inherit rounded"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [disabled]="disabled"
  />
</div>
@for (error of validationErrors; track error.hqValidationError) {
  @if (
    ngControl &&
    ngControl.errors &&
    ngControl.touched &&
    error.hqValidationError &&
    ngControl.errors[error.hqValidationError]
  ) {
    <div class="text-red-700 text-xs leading-normal">
      <ng-container [ngTemplateOutlet]="error.templateRef"></ng-container>
    </div>
  }
}
