<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Staff Members</h1>

  <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">&nbsp;</div>
</div>
<div class="px-5 pt-4 pb-2">
  <hq-staff-list-search-filter />
</div>
<hq-table class="min-w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        [hq-sort-header]="sortColumn.Name"
        width="220px"
      >
        Name
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        [hq-sort-header]="sortColumn.Hrs"
        width="220px"
      >
        Hrs YTD
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        [hq-sort-header]="sortColumn.BillableHrs"
        width="220px"
      >
        Billable Hrs YTD
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.VacationHours"
        width="220px"
      >
        Vacation
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.Jurisdiction"
        width="220px"
      >
        Jurisdiction
      </th>

      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        [hq-sort-header]="sortColumn.Status"
        width="220px"
      >
        Status
      </th>

      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5 cursor-pointer"
        colspan="2"
      >
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <button
            routerLink="/staff/create"
            class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
          >
            <i class="bi bi-plus"></i>
            Staff
          </button>
        }
      </th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @if ((listService.records$ | async)?.length === 0) {
      <td colspan="10" class="bg-black-alt">
        <h1 class="text-center py-4 font-bold">No matching records found</h1>
      </td>
    }
    @for (member of listService.records$ | async; track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black py-2 pl-5">
          {{ member.name }}
        </td>
        <td class="border-b border-black py-2 pl-5">{{ member.hrs }}</td>
        <td class="border-b border-black py-2 pl-5">
          {{ member.billableHrs }}
        </td>
        <td class="border-b border-black py-2">
          {{ member.vacationHours }}
        </td>
        <td class="border-b border-black py-2">
          <div [ngSwitch]="member.jurisdiciton">
            <div *ngSwitchCase="Jurisdiction.USA">USA</div>
            <div *ngSwitchCase="Jurisdiction.Colombia">Colombia</div>
          </div>
        </td>
        <td class="border-b border-black py-2 capitalize">
          {{ member.status ?? "-" }}
        </td>

        <td class="border-b border-black py-2 text-right pr-5">
          <div class="text-nowrap divide-x divide-teal-200 uppercase">
            <a
              [routerLink]="[member.id, 'timesheet']"
              class="text-teal-200 hover:text-teal-300 pr-3"
              >View</a
            >

            <!-- <a
              [routerLink]="[member.id]"
              class="text-teal-200 hover:text-teal-300 pl-3"
              >View</a
            > -->
          </div>
          <!-- @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
            <a
              [routerLink]="['edit', member.id]"
              class="text-teal-200 hover:text-teal-300 cursor-pointer"
              >EDIT</a
            >
          } -->
        </td>
      </tr>
    }
  </tbody>
</hq-table>
