<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Timesheets</h1>

  <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">&nbsp;</div>
</div>
<div class="px-5 pt-4 pb-2">
  <hq-staff-list-search-filter />
</div>
<table class="min-w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        (click)="onSortClick(sortColumn.Name)"
      >
        Name
        <hq-sort-icon
          [column]="sortColumn.Name"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        (click)="onSortClick(sortColumn.Hrs)"
      >
        Hrs YTD
        <hq-sort-icon
          [column]="sortColumn.Hrs"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        (click)="onSortClick(sortColumn.BillableHrs)"
      >
        Billable Hrs YTD
        <hq-sort-icon
          [column]="sortColumn.BillableHrs"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.VacationHours)"
      >
        Vacation
        <hq-sort-icon
          [column]="sortColumn.VacationHours"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.Jurisdiction)"
      >
        Jurisdiction
        <hq-sort-icon
          [column]="sortColumn.Jurisdiction"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>

      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.Status)"
      >
        Status
        <hq-sort-icon
          [column]="sortColumn.Status"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>

      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5 cursor-pointer"
        colspan="2"
      >
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <button
            routerLink="/staff/create"
            class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
          >
            <i class="bi bi-plus"></i>
            Staff
          </button>
        }
      </th>
    </tr>
  </thead>
  <tbody>
    @if ((staffMembers$ | async)?.length === 0) {
      <td colspan="10" class="bg-black-alt">
        <h1 class="text-center py-4 font-bold">No matching records found</h1>
      </td>
    }
    @for (member of staffMembers$ | async; track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black py-2 pl-5">
          {{ member.name }}
        </td>
        <td class="border-b border-black py-2 pl-5">{{ member.hrs }}</td>
        <td class="border-b border-black py-2 pl-5">
          {{ member.billableHrs }}
        </td>
        <td class="border-b border-black py-2">
          {{ member.vacationHours }}
        </td>
        <td class="border-b border-black py-2">
          <div [ngSwitch]="member.jurisdiciton">
            <div *ngSwitchCase="Jurisdiction.USA">USA</div>
            <div *ngSwitchCase="Jurisdiction.Colombia">Colombia</div>
          </div>
        </td>
        <td class="border-b border-black py-2">{{ member.status ?? "-" }}</td>

        <td class="border-b border-black py-2 text-right pr-5">
          <div class="text-nowrap divide-x divide-teal-200">
            <a class="text-teal-200 hover:text-teal-300 pr-3">Timesheet</a>
            <a class="text-teal-200 hover:text-teal-300 pl-3">View</a>
          </div>
          <!-- @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
            <a
              [routerLink]="['edit', member.id]"
              class="text-teal-200 hover:text-teal-300 cursor-pointer"
              >EDIT</a
            >
          } -->
        </td>
      </tr>
    }
  </tbody>
</table>
<div
  class="justify-between items-center grid grid-cols-3 py-3 px-5 bg-blue-900 border-y border-steel-blue-600"
>
  <div>
    <select
      class="bg-black-alt border border-gray-300 rounded py-1 px-2 mr-2"
      [formControl]="itemsPerPage"
    >
      <option [ngValue]="20">20</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
      <!-- Add more options as needed -->
    </select>
    <span>items per page</span>
  </div>
  <hq-paginator
    [total]="(totalRecords$ | async) ?? 0"
    [pageSize]="itemsPerPage.value"
    [currentPage]="page.value"
    (page)="goToPage($event)"
  ></hq-paginator>
  <div class="flex justify-end text-xs">
    {{ skipDisplay$ | async }}-{{ takeToDisplay$ | async }} /
    {{ totalRecords$ | async }} items
  </div>
</div>
