<div class="modal-body relative flex-1 flex-shrink">
  <div class="px-5 py-2 bg-gray-900">
    <div class="flex flex-col lg:flex-row justify-between items-start">
      <div class="flex items-center order-2 lg:order-1 gap-[20px]">
        <div
          class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-[395px]"
        >
          <span
            class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100"
          >
            <i class="bi bi-search text-[14px]"></i>
          </span>
          <input
            [formControl]="search"
            type="text"
            class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
          />
        </div>
      </div>
    </div>
  </div>

  <table class="min-w-full border-spacing-0 border-separate">
    <thead>
      <tr class="sticky top-0 text-left">
        <th
          scope="col"
          class="text-gray-100 bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
          (click)="onSortClick(sortColumn.Name)"
        >
          Client Name
          <hq-sort-icon
            [column]="sortColumn.Name"
            [activeColumn]="sortOption$ | async"
            [activeSortDirection]="sortDirection$ | async"
          />
        </th>
        <th
          scope="col"
          class="text-gray-100 bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
          (click)="onSortClick(sortColumn.HourlyRate)"
        >
          Rate
          <hq-sort-icon
            [column]="sortColumn.HourlyRate"
            [activeColumn]="sortOption$ | async"
            [activeSortDirection]="sortDirection$ | async"
          />
        </th>
        <th
          scope="col"
          class="text-gray-100 bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
          (click)="onSortClick(sortColumn.BillingEmail)"
        >
          Billing Email
          <hq-sort-icon
            [column]="sortColumn.BillingEmail"
            [activeColumn]="sortOption$ | async"
            [activeSortDirection]="sortDirection$ | async"
          />
        </th>
        <th
          scope="col"
          class="text-gray-100 bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
          (click)="onSortClick(sortColumn.OfficialName)"
        >
          Official Name
          <hq-sort-icon
            [column]="sortColumn.OfficialName"
            [activeColumn]="sortOption$ | async"
            [activeSortDirection]="sortDirection$ | async"
          />
        </th>
      </tr>
    </thead>
    <tbody class="text-gray-100">
      @for (client of records$ | async; track $index) {
      <tr
        (click)="toggleClient(client)"
        [ngClass]="{
          'bg-blue-900': (isClientSelected(client.id) | async),
          'even:bg-gray-850 odd:bg-black-alt':
            !(isClientSelected(client.id) | async) || !SelectClientEnabled
        }"
      >
        <td class="border-b border-black py-2 pl-5">{{ client.name }}</td>
        <td class="border-b border-black py-2">
          {{
            client.hourlyRate
              | currency : "USD" : "symbol" : "1.2-2" : "en-US" || "None"
          }}
        </td>
        <td class="border-b border-black py-2">
          @if (client.billingEmail) {
          <a href="mailto:{{ client.billingEmail }}">{{
            client.billingEmail
          }}</a>
          } @else {
          <div>None</div>
          }
        </td>
        <td class="border-b border-black py-2">
          {{ client.officialName || "None" }}
        </td>
        @if (showEditButtons) {
        <td class="border-b border-black py-2 text-right pr-5">
          <a
            [routerLink]="['edit', client.id]"
            class="text-teal-200 hover:text-teal-300"
            >EDIT</a
          >
        </td>
        } @if (showViewButtons) {
        <td class="border-b border-black py-2 text-right pr-5">
          <a
            [routerLink]="[client.id]"
            class="text-teal-200 hover:text-teal-300"
            >VIEW</a
          >
        </td>
        }
      </tr>
      }
    </tbody>
  </table>

  <div
    class="text-gray-100 justify-between items-center grid grid-cols-3 py-3 px-5 bg-blue-900 border-y border-steel-blue-600"
  >
    <div>
      <select
        class="bg-black-alt border border-gray-300 rounded py-1 px-2 mr-2"
        [formControl]="itemsPerPage"
      >
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
        <!-- Add more options as needed -->
      </select>
      <span>items per page</span>
    </div>
    <hq-paginator
      [total]="(totalRecords$ | async) ?? 0"
      [pageSize]="itemsPerPage.value"
      [currentPage]="page.value"
      (onPage)="goToPage($event)"
    ></hq-paginator>
    <div class="flex justify-end text-xs">
      {{ skipDisplay$ | async }}-{{ takeToDisplay$ | async }} /
      {{ totalRecords$ | async }} items
    </div>
  </div>
</div>
