
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$md-gold: (
    50 : #fff5e6,
    100 : #ffe7c1,
    200 : #ffd798,
    300 : #ffc76e,
    400 : #ffbb4f,
    500 : #ffaf30,
    600 : #ffa82b,
    700 : #ff9f24,
    800 : #ff961e,
    900 : #ff8613,
    A100 : #ffffff,
    A200 : #fffcfa,
    A400 : #ffe0c7,
    A700 : #ffd2ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-orange: (
    50 : #fdefe3,
    100 : #fbd8b9,
    200 : #f8be8a,
    300 : #f5a45b,
    400 : #f39138,
    500 : #f17d15,
    600 : #ef7512,
    700 : #ed6a0f,
    800 : #eb600c,
    900 : #e74d06,
    A100 : #ffffff,
    A200 : #ffe5db,
    A400 : #ffbfa8,
    A700 : #ffad8f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$HQ-primary: mat.define-palette($md-orange);
$HQ-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$HQ-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$HQ-theme: mat.define-light-theme((
  color: (
    primary: $HQ-primary,
    accent: $HQ-accent,
    warn: $HQ-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($HQ-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --h-footer: 36px;
    --h-header: 70px;
  }
}

html, body {
  height: 100%;
  @apply text-gray-100;
}

body { margin: 0; font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;}

.markdown {
  h1 {
    @apply font-rajdhani font-semibold text-3xl;
  }
  h2 {
    @apply font-rajdhani font-semibold text-2xl;
  }
  h3 {
    @apply font-rajdhani font-semibold text-xl;
  }
  h4 {
    @apply font-rajdhani font-semibold text-lg;
  }
  h5 {
    @apply font-rajdhani font-semibold text-base;
  }
  p {
    @apply mb-[1rem];
  }

  ul {
    @apply list-disc mb-[1rem] pl-[2rem];
  }

  ol {
    @apply list-decimal mb-[1rem] pl-[2rem];
  }

  hr {
    @apply mb-[1rem];
  }
}


@-moz-document url-prefix() {
  * {
    scrollbar-width:thin;
    scrollbar-color: #b3b3b3 #3e3e3e;
  }
}

/* width */
::-webkit-scrollbar {
  scrollbar-width:auto !important;
  width: 10px !important;
  height:10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-900;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-50;
  border-radius: 5px;
  border:1px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll bar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* remove the calendar date picker icon */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    color:none;
    background-color:none;
    filter:opacity(0);
    filter: alpha(opacity=0);
    opacity:0;
    -moz-opacity:0;
    -webkit-opacity: 0; /* Chrome & Safari */
    -webkit-filter: brightness(0);
    -moz-brightness:0;
    position:relative;
    z-index:0;
    background: transparent;
}
