@import "@angular/cdk/overlay-prebuilt.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --h-footer: 36px;
    --h-header: 70px;
  }
}

html,
body {
  height: 100%;
  @apply text-gray-100;
}

body {
  margin: 0;
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

.markdown {
  h1 {
    @apply font-rajdhani font-semibold text-3xl;
  }
  h2 {
    @apply font-rajdhani font-semibold text-2xl;
  }
  h3 {
    @apply font-rajdhani font-semibold text-xl;
  }
  h4 {
    @apply font-rajdhani font-semibold text-lg;
  }
  h5 {
    @apply font-rajdhani font-semibold text-base;
  }
  p {
    @apply mb-[1rem];
  }

  ul {
    @apply list-disc mb-[1rem] pl-[2rem];
  }

  ol {
    @apply list-decimal mb-[1rem] pl-[2rem];
  }

  hr {
    @apply mb-[1rem];
  }
  table {
    @apply w-full my-2;
  }
  th {
    @apply bg-blue-900 border-steel-blue-600 border-y p-2 text-left;
  }
  tbody {
    @apply p-5;
  }
  tr {
    @apply even:bg-gray-850 odd:bg-black-alt;
  }
  tr td {
    @apply border-b border-black p-2 text-left;
  }
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 #3e3e3e;
  }
}

/* width */
::-webkit-scrollbar {
  scrollbar-width: auto !important;
  width: 10px !important;
  height: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-900;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-50;
  border-radius: 5px;
  border: 1px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll bar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* remove the calendar date picker icon */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  color: none;
  background-color: none;
  filter: opacity(0);
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0; /* Chrome & Safari */
  -webkit-filter: brightness(0);
  -moz-brightness: 0;
  position: relative;
  z-index: 0;
  background: transparent;
}

/* remove spinner from number input types */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
