@import "@angular/cdk/overlay-prebuilt.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --h-footer: 36px;
    --h-header: 70px;
  }
}

html,
body {
  height: 100%;
  @apply text-gray-100;
}

body {
  margin: 0;
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

.markdown {
  h1 {
    @apply font-rajdhani font-semibold text-3xl;
  }
  h2 {
    @apply font-rajdhani font-semibold text-2xl;
  }
  h3 {
    @apply font-rajdhani font-semibold text-xl;
  }
  h4 {
    @apply font-rajdhani font-semibold text-lg;
  }
  h5 {
    @apply font-rajdhani font-semibold text-base;
  }
  p {
    @apply mb-[1rem];
  }
  a {
    @apply text-teal-200 hover:text-teal-300 underline;
  }

  ul {
    @apply list-disc mb-[1rem] pl-[2rem];
  }

  ol {
    @apply list-decimal mb-[1rem] pl-[2rem];
  }

  hr {
    @apply mb-[1rem];
  }
  table {
    @apply w-full my-2;
  }
  th {
    @apply bg-blue-900 border-steel-blue-600 border-y p-2 text-left;
  }
  tbody {
    @apply p-5;
  }
  tr {
    @apply even:bg-gray-850 odd:bg-black-alt;
  }
  tr td {
    @apply border-b border-black p-2 text-left;
  }
}
// Custom panel gutter
// .custom-gutter {
//   width: 100%;
//   height: 100%;
//   position: relative;
// }

// .custom-gutter-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: black;
//   transition: opacity 0.3s;
//   height: 100%;
//   width: 100%;
//   $shadeSize: 8px;

//   .as-horizontal & {
//     width: 1 + ($shadeSize * 2);
//     left: -$shadeSize;
//     right: $shadeSize;
//     flex-direction: column;
//   }

//   .as-vertical & {
//     height: 1 + ($shadeSize * 2);
//     top: -$shadeSize;
//     bottom: $shadeSize;
//     flex-direction: row;
//   }
// }

.custom-gutter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-gutter-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 #3e3e3e;
  }
}

/* width */
::-webkit-scrollbar {
  scrollbar-width: auto !important;
  width: 10px !important;
  height: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-900;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-50;
  border-radius: 5px;
  border: 1px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll bar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* remove the calendar date picker icon */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  color: none;
  background-color: none;
  filter: opacity(0);
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0; /* Chrome & Safari */
  -webkit-filter: brightness(0);
  -moz-brightness: 0;
  position: relative;
  z-index: 0;
  background: transparent;
}

/* remove spinner from number input types */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

table.hq-table {
  @apply min-w-full border-spacing-0 border-separate table-fixed;

  thead {
    tr {
      @apply sticky top-0 text-left;

      th {
        @apply bg-blue-900 border-steel-blue-600 border-y py-3;
      }
    }
  }

  &.loading tbody {
    @apply animate-loading;
  }

  tbody[hq-table-body],
  tbody.hq-table-body {
    tr {
      @apply even:bg-gray-850 odd:bg-black-alt;

      td {
        @apply border-b border-black;
      }
    }
  }

  thead,
  tbody[hq-table-body],
  tbody.hq-table-body {
    tr th,
    tr td {
      @apply p-2;
    }

    tr th:first-child,
    tr td:first-child {
      @apply pl-5 text-left;
    }

    tr th:last-child,
    tr td:last-child {
      @apply pe-5;
    }
  }

  tbody.hq-table-body-condensed {
    tr th,
    tr td {
      @apply p-0;
    }

    tr th:first-child,
    tr td:first-child {
      @apply p-0;
    }

    tr th:last-child,
    tr td:last-child {
      @apply p-0;
    }
  }
}
