<div class="bg-blue-900 p-4 font-bold">
  {{ data.title }}
</div>
<div class="bg-gray-800 alt p-4">
  <div class="pb-4">
    {{ data.message }}
  </div>
  <form>
    

    <div class="grid relative w-full" style="width: 150px">
      <input
        [formControl]="dateFormControl"
        type="date"
        class="w-full block text-[14px] px-2 py-1 bg-blue-900 border row-start-1 col-start-1 self-center justify-self-end border-black appearance-none focus:outline-none placeholder:text-gray-100 rounded h-[36px] uppercase"
      />
      <span
        class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
      >
        <i class="bi bi-calendar text-[14px] bg-blue-900"></i>
      </span>
    </div>
  </form>
  <div class="text-right">
    <button
      type="button"
      (click)="dialogRef.close(dateFormControl.value)"
      class="inline-block text-center px-10 py-2 mr-3 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
    >
      Confirm
    </button>
    <button
      type="button"
      (click)="dialogRef.close(null)"
      class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
    >
      Cancel
    </button>
  </div>
</div>
