<div class="grid grid-flow-row-dense col-span-6 gap-[20px] pt-1 xl:mb-0">
  <div class="flex flex-row justify-start space-x-4">
    <div class="w-full">
      <hq-select-input
        [autocomplete]="false"
        [formControl]="invoiceDetailsService.timeStatus"
        variant="secondary"
      >
        <ng-template [hqSelectInputOption]="null">All (Time State)</ng-template>
        <ng-template
          [hqSelectInputOption]="invoiceDetailsService.Status.Unsubmitted"
          >Unsubmitted (Time State)</ng-template
        >
        <ng-template
          [hqSelectInputOption]="invoiceDetailsService.Status.Submitted"
          >Submitted (Time State)</ng-template
        >
        <ng-template
          [hqSelectInputOption]="invoiceDetailsService.Status.Accepted"
          >Accepted (Time State)</ng-template
        >
        <ng-template
          [hqSelectInputOption]="invoiceDetailsService.Status.Rejected"
          >Rejected (Time State)</ng-template
        >
        <ng-template
          [hqSelectInputOption]="invoiceDetailsService.Status.Resubmitted"
          >Resubmitted (Time State)</ng-template
        >
      </hq-select-input>
    </div>
    <!-- <div class="w-full">
      <hq-select-input
        [autocomplete]="false"
        [formControl]="invoiceDetailsService.invoiced"
        variant="secondary"
      >
        <ng-template [hqSelectInputOption]="null">All (Invoiced)</ng-template>
        <ng-template [hqSelectInputOption]="true">Yes (Invoiced)</ng-template>
        <ng-template [hqSelectInputOption]="false">No (Invoiced)</ng-template>
      </hq-select-input>
    </div> -->
    <div class="w-full">
      <hq-select-input
        [autocomplete]="false"
        [formControl]="invoiceDetailsService.billable"
        variant="secondary"
      >
        <ng-template [hqSelectInputOption]="null">All (Billable)</ng-template>
        <ng-template [hqSelectInputOption]="true">Yes (Billable)</ng-template>
        <ng-template [hqSelectInputOption]="false">No (Billable)</ng-template>
      </hq-select-input>
    </div>
    <div class="w-full">
      <hq-select-input
        (change)="showHideDates()"
        [autocomplete]="false"
        [formControl]="invoiceDetailsService.selectedPeriod"
        variant="secondary"
      >
        <ng-template [hqSelectInputOption]="null"
          >All Time (Period)</ng-template
        >
        <ng-template [hqSelectInputOption]="invoiceDetailsService.Period.Today"
          >Today (Period)</ng-template
        >
        <ng-template [hqSelectInputOption]="invoiceDetailsService.Period.Week"
          >This Week (Period)</ng-template
        >
        <ng-template [hqSelectInputOption]="invoiceDetailsService.Period.Month"
          >This Month (Period)</ng-template
        >
        <ng-template
          [hqSelectInputOption]="invoiceDetailsService.Period.LastWeek"
          >Last Week (Period)</ng-template
        >
        <ng-template
          [hqSelectInputOption]="invoiceDetailsService.Period.LastMonth"
          >Last Month (Period)</ng-template
        >
        <ng-template [hqSelectInputOption]="invoiceDetailsService.Period.Year"
          >This Year (Period)</ng-template
        >
        <ng-template [hqSelectInputOption]="invoiceDetailsService.Period.Custom"
          >Custom (Period)</ng-template
        >
      </hq-select-input>
    </div>
    @if (invoiceDetailsService.showStartDate$ | async) {
      <div class="relative flex flex-col w-full max-w-[220px]">
        <label
          for="startDate"
          class="font-open-sans text-nav-disabled text-xs font-bold uppercase whitespace-nowrap"
          >Start Date</label
        >
        <div class="grid relative">
          <input
            [formControl]="invoiceDetailsService.startDate"
            type="date"
            class="w-full block text-[14px] px-2 py-1 border row-start-1 col-start-1 self-center justify-self-end border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px] uppercase"
          />
          <span
            class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
          >
            <i class="bi bi-arrow-down-short text-[24px] bg-blue-900"></i>
          </span>
        </div>
      </div>
    }
    @if (invoiceDetailsService.showEndDate$ | async) {
      <div class="relative flex flex-col w-full max-w-[220px]">
        <label
          for="endDate"
          class="font-open-sans text-nav-disabled text-xs font-bold uppercase whitespace-nowrap"
          >End Date</label
        >
        <div class="grid relative">
          <input
            [formControl]="invoiceDetailsService.endDate"
            type="date"
            class="w-full block text-[14px] px-2 py-1 border row-start-1 col-start-1 self-center justify-self-end border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px] uppercase"
          />
          <span
            class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
          >
            <i class="bi bi-arrow-down-short text-[24px] bg-blue-900"></i>
          </span>
        </div>
      </div>
    }
  </div>
  <div class="flex flex-row justify-start space-x-4">
    @if (invoiceDetailsService.showSearch$ | async) {
      <!-- search bar -->
      <div class="relative flex flex-col items-stretch w-full max-w-[395px]">
        <div
          class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px]"
        >
          <span
            class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100"
          >
            <i class="bi bi-search text-[14px]"></i>
          </span>
          <input
            type="text"
            [formControl]="invoiceDetailsService.search"
            class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
            name=""
          />
        </div>
      </div>
    }
    @if (
      (invoiceDetailsService.staffMembers$ | async) &&
        invoiceDetailsService.showStaffMembers$ | async
    ) {
      <div class="w-full">
        <hq-select-input
          [autocomplete]="true"
          [formControl]="invoiceDetailsService.staffMember"
          variant="secondary"
        >
          <ng-template [hqSelectInputOption]="null"
            >All (Staff Member)</ng-template
          >
          @for (
            staff of invoiceDetailsService.staffMembers$ | async;
            track staff.id
          ) {
            <ng-template
              [hqSelectInputOption]="staff.id"
              [hqSelectInputOptionSearch]="staff.name"
              >{{ staff.name }} (Staff Member)</ng-template
            >
          }
        </hq-select-input>
      </div>
    }
    @if (invoiceDetailsService.projects$ | async) {
      <div class="w-full">
        <hq-select-input
          [autocomplete]="true"
          [formControl]="invoiceDetailsService.project"
          variant="secondary"
        >
          <ng-template [hqSelectInputOption]="null">All (Project)</ng-template>
          @for (
            project of invoiceDetailsService.projects$ | async;
            track project.id
          ) {
            <ng-template
              [hqSelectInputOption]="project.id"
              [hqSelectInputOptionSelectedDisplay]="
                project.chargeCode + ' (Project)'
              "
              [hqSelectInputOptionSearch]="
                project.chargeCode +
                ': ' +
                project.clientName +
                ': ' +
                project.name
              "
              >{{
                project.chargeCode +
                  ": " +
                  project.clientName +
                  ": " +
                  project.name
              }}</ng-template
            >
          }
        </hq-select-input>
      </div>
    }
    @if (invoiceDetailsService.showProjectActivities$ | async) {
      <div class="w-full">
        <hq-select-input
          [autocomplete]="true"
          [disabled]="true"
          [formControl]="invoiceDetailsService.projectActivity"
          variant="secondary"
        >
          <ng-template [hqSelectInputOption]="null">All (Activity)</ng-template>
          @for (
            activity of invoiceDetailsService.activities$ | async;
            track activity.id
          ) {
            <ng-template
              [hqSelectInputOption]="activity.id"
              [hqSelectInputOptionSelectedDisplay]="
                activity.name + ' (Activity)'
              "
              [hqSelectInputOptionSearch]="activity.name"
              >{{ activity.name }}</ng-template
            >
          }
        </hq-select-input>
      </div>
    }
  </div>
</div>
