<div class="bg-blue-900 p-4 font-bold">
  {{ data.title }}
</div>
<div class="bg-gray-800 alt p-4">
  <div class="pb-4">
    {{ data.message }}
  </div>
  <div class="text-right">
    <button
      type="button"
      (click)="dialogRef.close(true)"
      class="inline-block text-center px-10 py-2 mr-3 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
    >
      Confirm
    </button>
    <button
      type="button"
      (click)="dialogRef.close(false)"
      class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
    >
      Cancel
    </button>
  </div>
</div>
