<div class="flex w-full flex-1 items-center gap-[20px] mb-[8px] xl:mb-0">
  <!-- search bar -->
  <div
    class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-full max-w-[395px]"
  >
    <span
      class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100"
    >
      <i class="bi bi-search text-[14px]"></i>
    </span>
    <input
      type="text"
      [formControl]="clientDetailService.search"
      class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
      name=""
    />
  </div>

  <!-- select dropdown -->
  @if(clientDetailService.showProjectStatus$ | async) {
  <div class="grid relative w-full max-w-[220px]">
    <select
      [formControl]="clientDetailService.projectStatus"
      class="w-full pl-2 pr-[43px] appearance-none focus:outline-none hover:cursor-pointer font-medium row-start-1 col-start-1 border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px]"
    >
      <option [value]="clientDetailService.ProjectStatus.Unknown">
        Unknown
      </option>
      <option [value]="clientDetailService.ProjectStatus.Draft">
        Draft
      </option>
      <option [value]="clientDetailService.ProjectStatus.WaitingForSale">
        Waiting For Sale
      </option>
      <option [value]="clientDetailService.ProjectStatus.WaitingForClient">
        Waiting For Client
      </option>
      <option [value]="clientDetailService.ProjectStatus.WaitingForStaff ">
        Waiting For Staff
      </option>
      <option [value]="clientDetailService.ProjectStatus.InProduction">
        InProduction
      </option>
      <option [value]="clientDetailService.ProjectStatus.Ongoing">
        Ongoing
      </option>
      <option [value]="clientDetailService.ProjectStatus.Completed">
        Completed
      </option>
      <option [value]="clientDetailService.ProjectStatus.Closed">
        Closed
      </option>
      <option [value]="clientDetailService.ProjectStatus.Lost">
        Lost
      </option>
    </select>
    <span
      class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
    >
      <i class="bi bi-arrow-down-short text-[24px]"></i>
    </span>
  </div>
  } @if (clientDetailService.showCurrentOnly$ | async) {
  <!-- toggle switch -->
  <div class="inline-flex items-center">
    <div class="text-[12px] mr-[10px] leading-none text-nowrap">
      Show current only
    </div>
    <label class="relative inline-flex cursor-pointer items-center">
      <input
        id="switch"
        type="checkbox"
        class="peer sr-only"
        [formControl]="clientDetailService.currentOnly"
        checked
      />
      <label for="switch" class="hidden"></label>
      <div
        class="peer h-[14px] w-[33px] rounded-full bg-slate-200 after:absolute after:left-[4px] after:top-[3px] after:h-[8px] after:w-[8px] after:rounded-full after:bg-gray-500 peer-checked:after:bg-white after:transition-all after:content-[''] peer-checked:bg-steel-blue-600 peer-checked:after:translate-x-full peer-checked:after:right-[12px] peer-checked:after:left-auto"
      ></div>
    </label>
    <div class="text-xs ml-[6px]">On</div>
  </div>
  }
</div>
