<div class="flex w-full flex-1 items-center gap-[20px] mb-[8px] xl:mb-0">
  <hq-search-input [formControl]="clientDetailService.search"></hq-search-input>

  <!-- select dropdown -->
  @if (clientDetailService.showProjectStatus$ | async) {
    <hq-select-input [formControl]="clientDetailService.projectStatus">
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.Unknown"
      >
        Unknown
      </ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.Draft"
      >
        Draft
      </ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.WaitingForSale"
      >
        Waiting For Sale
      </ng-template>
      <ng-template
        [hqSelectInputOption]="
          clientDetailService.ProjectStatus.WaitingForClient
        "
      >
        Waiting For Client
      </ng-template>
      <ng-template
        [hqSelectInputOption]="
          clientDetailService.ProjectStatus.WaitingForStaff
        "
      >
        Waiting For Staff
      </ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.InProduction"
      >
        In Production
      </ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.Ongoing"
      >
        Ongoing
      </ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.Completed"
      >
        Completed
      </ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.Closed"
      >
        Closed
      </ng-template>
      <ng-template
        [hqSelectInputOption]="clientDetailService.ProjectStatus.Lost"
        >Lost</ng-template
      >
    </hq-select-input>
  }
</div>
