<div class="flex w-full flex-1 items-center gap-[20px] mb-[8px] xl:mb-0">
  <hq-search-input [formControl]="clientDetailService.search"></hq-search-input>

  <!-- select dropdown -->
  @if (clientDetailService.showProjectStatus$ | async) {
    <hq-select-input
      [formControl]="clientDetailService.projectStatus"
      [autocomplete]="true"
      class="w-52"
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      @for (status of projectStatusEnum$ | async; track status.id) {
        <ng-template
          [hqSelectInputOption]="status.id"
          [hqSelectInputOptionSelectedDisplay]="status.name"
          [hqSelectInputOptionSearch]="status.name"
          >{{ status.name }}</ng-template
        >
      }
    </hq-select-input>
  }
  @if(clientDetailService.showCurrentOnly$ | async){
  <div class="inline-flex items-center">
    <div class="text-[12px] mr-[10px] leading-none text-nowrap">
      Show current only
    </div>
    <label class="relative inline-flex cursor-pointer items-center">
      <input id="switch" type="checkbox" class="peer sr-only" [formControl]="clientDetailService.currentOnly" checked />
      <label for="switch" class="hidden"></label>
      <div
        class="peer h-[14px] w-[33px] rounded-full bg-slate-200 after:absolute after:left-[4px] after:top-[3px] after:h-[8px] after:w-[8px] after:rounded-full after:bg-gray-500 peer-checked:after:bg-white after:transition-all after:content-[''] peer-checked:bg-steel-blue-600 peer-checked:after:translate-x-full peer-checked:after:right-[12px] peer-checked:after:left-auto">
      </div>
    </label>
    <div class="text-xs ml-[6px]">On</div>
  </div>
}
</div>
