<div
  class="h-[calc(100dvh-(var(--h-footer)+var(--h-header)))] fixed top-[--h-header] left-0 w-full flex flex-col"
>
  @if (projectDetail$ | async; as project) {
    <div class="px-5">
      <h1 class="font-rajdhani font-semibold text-3xl">
        {{ project.chargeCode }}: {{ project.name }}
      </h1>

      <div class="flex flex-col xl:flex-row xl:justify-between xl:items-center">
        <div class="grid grid-flow-col gap-[30px] auto-cols-max pt-3">
          <div class="text-gray-50">${{ project.hourlyRate }}</div>
          <div class="text-gray-50">{{ project.billingEmail || "None" }}</div>
          <div class="text-gray-50">
            <a href="#" class="underline"
              >Official Name - {{ project.officialName || "None" }}</a
            >
          </div>
        </div>

        <hq-project-psr-details></hq-project-psr-details>
      </div>
    </div>
  }

  <div class="px-5 mb-[8px]">
    <div class="flex flex-col lg:flex-row justify-between items-start">
      <div class="flex items-end order-2 lg:order-1 gap-[20px]">
        <!-- search bar -->
        <div
          class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-[395px]"
        >
          <span
            class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100"
          >
            <i class="bi bi-search text-[14px]"></i>
          </span>
          <input
            type="text"
            class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
            name=""
          />
        </div>

        <!-- Is this a button? -->
        <div
          class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-[205px]"
        >
          <input
            type="text"
            class="w-[100%] block text-[14px] text-center px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
            name=""
            value="Activities"
          />
        </div>

        <div class="pl-[5vw]">
          <div>
            <div
              class="text-xs text-right uppercase font-bold tracking-[.06em]"
            >
              Total Billed
            </div>
            <div class="text-right font-rajdhani font-semibold text-3xl">
              00000.00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-hidden flex-auto">
    <div
      id="left-side"
      class="grid gap-0 transition-all duration-200 ease-in-out relative"
      [ngClass]="{
        'grid-cols-[0px_20px_1fr]': sideBarCollapsed,
        'grid-cols-[405px_20px_1fr]': !sideBarCollapsed,
      }"
    >
      <aside
        class="border-r border-black sticky top-0 overflow-y-auto h-[calc(100dvh-(var(--h-header)+var(--h-footer)+139px))] transition-all duration-700 ease-in-out"
        [ngClass]="{
          'opacity-0': sideBarCollapsed,
          'opacity-100': !sideBarCollapsed,
        }"
      >
        <hq-psr-work-week></hq-psr-work-week>
        <table class="min-w-full border-spacing-0 border-separate hidden">
          <thead>
            <tr class="sticky top-0 text-left">
              <th
                scope="col"
                class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
              >
                PSR week of
                <!-- sorted by client name --><i
                  class="bi bi-sort-down ml-2"
                ></i>
              </th>
              <th
                scope="col"
                colspan="2"
                class="bg-blue-900 border-steel-blue-600 border-y py-3"
              >
                Total Hrs <i class="bi bi-arrow-down-up text-[12px] ml-2"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            @for (
              i of [
                1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1,
                2, 3, 4, 5, 6, 7, 8, 9, 10,
              ];
              track i
            ) {
              <tr
                [ngClass]="
                  (projectId$ | async) === i.toString()
                    ? 'bg-blue-900'
                    : 'even:bg-gray-850 odd:bg-black-alt'
                "
              >
                <td class="border-b border-black py-2 pl-5">MM/DD/YYYY</td>
                <td class="border-b border-black py-2">0000.00</td>
                <td class="border-b border-black py-2 text-right pr-5">
                  <a
                    class="text-teal-200 hover:text-teal-300"
                    routerLink="report"
                    [queryParams]="{ psrId$: i }"
                    >VIEW</a
                  >
                </td>
              </tr>
            }
          </tbody>
        </table>
      </aside>
      <button
        type="button"
        class="flex flex-col justify-center items-center bg-black-alt border-r border-black border-t border-t-steel-blue-600"
        (click)="sideBarCollapsed = !sideBarCollapsed"
        aria-controls="left-side"
      >
        <div class="cursor-pointer py-4">
          <div class="leading-[0.5]">&bull;</div>
          <div class="leading-[0.5]">&bull;</div>
          <div class="leading-[0.5]">&bull;</div>
        </div>
      </button>
      <main class="bg-black-alt overflow-y-auto h-[calc(100dvh-245px)]">
        <!-- project details tabs -->
        <div
          class="bg-black-alt border-steel-blue-600 border-t pt-[23px] sticky top-0 z-50"
        >
          <div class="flex border-b border-black">
            <a
              routerLink="details"
              [queryParams]="{ psrId: psrId$ | async }"
              routerLinkActive
              #rlaDetails="routerLinkActive"
              [ngClass]="
                rlaDetails.isActive ? 'border-gray-100' : 'border-transparent'
              "
              class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
              >Details</a
            >

            @if (psrId$ | async) {
              <a
                routerLink="report"
                [queryParams]="{ psrId: psrId$ | async }"
                routerLinkActive
                #rlaReport="routerLinkActive"
                [ngClass]="
                  rlaReport.isActive ? 'border-gray-100' : 'border-transparent'
                "
                class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
                >PM Report</a
              >
              <a
                routerLink="time"
                [queryParams]="{ psrId: psrId$ | async }"
                routerLinkActive
                #rlaTime="routerLinkActive"
                [ngClass]="
                  rlaTime.isActive ? 'border-gray-100' : 'border-transparent'
                "
                class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
                >PSR</a
              >
            }
          </div>
        </div>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
