<div
  class="h-[calc(100dvh-(var(--h-footer)+var(--h-header)))] fixed top-[--h-header] left-0 w-full flex flex-col"
>
  @if (projectDetailService.project$ | async; as project) {
    <div class="px-5">
      <h1 class="font-rajdhani font-semibold text-3xl">
        {{ project.chargeCode }}: {{ project.name }}
      </h1>

      <div class="flex flex-col xl:flex-row xl:justify-between xl:items-center">
        <div class="grid grid-flow-col gap-[30px] auto-cols-max pt-3">
          <div class="text-gray-50">
            Hourly Rate: {{ (project.hourlyRate | currency) || "None" }}
          </div>
          <div class="text-gray-50">
            Email: {{ project.billingEmail || "None" }}
          </div>
          <div class="text-gray-50">
            Official Name:
            <a
              [routerLink]="['/clients', project.clientId]"
              class="underline"
              >{{ project.officialName || project.name }}</a
            >
          </div>
        </div>

        <hq-project-psr-details></hq-project-psr-details>
      </div>
    </div>
  }

  <div class="px-5 mb-[8px]">
    <div class="flex flex-col lg:flex-row justify-between items-start">
      <div class="flex items-end order-2 lg:order-1 gap-[20px]">
        <!-- search bar -->
        <div
          class="relative flex items-stretch border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px] w-[395px]"
        >
          <span
            class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] hover:cursor-pointer after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100"
          >
            <i class="bi bi-search text-[14px]"></i>
          </span>
          <input
            type="text"
            class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
            name=""
          />
        </div>

        <div class="pl-[5vw]">
          <div>
            <div
              class="text-xs text-right uppercase font-bold tracking-[.06em]"
            >
              Total Billed
            </div>
            <div class="text-right font-rajdhani font-semibold text-3xl">
              00000.00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hq-panel [CSizes]="[20, 80]" GutterVariant="primary" CollapseItem="first">
    <div first>
      <aside
        class="sticky top-0 overflow-y-auto h-[calc(100dvh-(var(--h-header)+var(--h-footer)+139px))]"
      >
        <hq-project-psr-list></hq-project-psr-list>
      </aside>
    </div>
    <div second>
      <main
        class="bg-black-alt overflow-y-auto h-[calc(100dvh-245px)] relative"
      >
        <!-- project details tabs -->
        <div
          class="bg-black-alt border-steel-blue-600 border-t pt-[23px] sticky top-0 z-50"
        >
          <div class="flex border-b border-black">
            <a
              routerLink="./"
              [queryParams]="{ psrId: projectDetailService.psrId$ | async }"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive
              #rlaDetails="routerLinkActive"
              [ngClass]="
                rlaDetails.isActive ? 'border-gray-100' : 'border-transparent'
              "
              class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
              >Details</a
            >
            <a
              routerLink="activities"
              [queryParams]="{ psrId: projectDetailService.psrId$ | async }"
              routerLinkActive
              #rlaActivities="routerLinkActive"
              [ngClass]="
                rlaActivities.isActive
                  ? 'border-gray-100'
                  : 'border-transparent'
              "
              class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
              >Activities</a
            >
            <a
              routerLink="roster"
              [queryParams]="{ psrId: projectDetailService.psrId$ | async }"
              routerLinkActive
              #rlaRoster="routerLinkActive"
              [ngClass]="
                rlaRoster.isActive ? 'border-gray-100' : 'border-transparent'
              "
              class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
              >Roster</a
            >

            @if (projectDetailService.psrId$ | async) {
              <a
                routerLink="report"
                [queryParams]="{ psrId: projectDetailService.psrId$ | async }"
                routerLinkActive
                #rlaReport="routerLinkActive"
                [ngClass]="
                  rlaReport.isActive ? 'border-gray-100' : 'border-transparent'
                "
                class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
                >PM Report</a
              >
              <a
                routerLink="time"
                [queryParams]="{ psrId: projectDetailService.psrId$ | async }"
                routerLinkActive
                #rlaTime="routerLinkActive"
                [ngClass]="
                  rlaTime.isActive ? 'border-gray-100' : 'border-transparent'
                "
                class="min-w-[120px] text-center whitespace-nowrap px-3 py-1 font-bold cursor-pointer border-b hover:border-gray-100"
                >PSR</a
              >
            }
          </div>
        </div>
        <router-outlet></router-outlet>
      </main>
    </div>
  </hq-panel>
</div>
