<div class="px-5">
  <div class="flex items-center justify-between gap-[20px]">
    <div class="text-4xl text-white">
      {{ (staffDashboardService.time$ | async)?.staffName || "-" }}
    </div>

    <div class="flex space-x-8 p-4">
      <hq-stat-display
        [title]="'HRS THIS WEEK'"
        [value]="(staffDashboardService.time$ | async)?.hoursThisWeek"
        [fallback]="'-'"
        [large]="false"
      ></hq-stat-display>
      <hq-stat-display
        [title]="'HRS LAST WEEK'"
        [value]="(staffDashboardService.time$ | async)?.hoursLastWeek"
        [fallback]="'-'"
        [large]="false"
      ></hq-stat-display>

      <hq-stat-display
        [title]="'HRS THIS MONTH'"
        [value]="(staffDashboardService.time$ | async)?.hoursThisMonth"
        [fallback]="'-'"
        [large]="false"
      ></hq-stat-display>

      <hq-stat-display
        [title]="'VACATION'"
        [value]="(staffDashboardService.time$ | async)?.vacation"
        [fallback]="'-'"
        [large]="false"
      ></hq-stat-display>
    </div>
  </div>
</div>
<div class="px-5 pt-2 mb-[8px]">
  <div class="flex items-end gap-[20px]">
    <hq-staff-dashboard-search-filter />
    <div class="inline-flex gap-20 ml-20">
      <hq-stat-display
        [title]="'Total Hours'"
        [value]="(staffDashboardService.time$ | async)?.totalHours"
        [fallback]="'-'"
        [large]="true"
      ></hq-stat-display>
      <!-- Billable Hours Display -->
      <hq-stat-display
        [title]="'Billable Hours'"
        [value]="(staffDashboardService.time$ | async)?.billableHours"
        [fallback]="'-'"
        [large]="true"
      ></hq-stat-display>
    </div>
  </div>
</div>

<div class="px-5 py-2 bg-black-alt">
  <div class="flex gap-[20px] justify-between items-center">
    <hq-staff-dashboard-date-range />
    <div>
      @if (staffDashboardService.rejectedCount$ | async) {
        <button
          [title]="
            (staffDashboardService.showAllRejectedTimes$ | async)
              ? 'Dismiss all rejected time entries'
              : 'Show all rejected time entries'
          "
          [name]="
            (staffDashboardService.showAllRejectedTimes$ | async)
              ? 'Dismiss all rejected time entries'
              : 'Show all rejected time entries'
          "
          type="button"
          (click)="handleRejectedTimes()"
        >
          <i
            [class.border]="staffDashboardService.showAllRejectedTimes$ | async"
            class="bi bi-exclamation-triangle-fill py-2 px-2 rounded-sm mr-3 text-white bg-red-700"
          ></i>
        </button>
      }
      <button
        [title]="
          (staffDashboardService.canSubmit$ | async)
            ? 'Submit all time entries for the shown date period'
            : 'No time entries to be submitted '
        "
        [disabled]="(staffDashboardService.canSubmit$ | async) === false"
        [ngClass]="{
          'text-gray-50 border-gray-500 bg-gray-500 ':
            (staffDashboardService.canSubmit$ | async) === false,
          'border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white':
            staffDashboardService.canSubmit$ | async,
        }"
        class="inline-block text-center px-2 py-2 border rounded min-w-[120px] font-normal"
        type="button"
        (click)="submitTimes()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
@if (staffDashboardService.showAllRejectedTimes$ | async) {
  <div
    class="flex align-middle justify-between h-5 w-full bg-red-850 mb-10 pt-1 px-5"
  >
    <div class="uppercase">
      currently editing {{ staffDashboardService.rejectedCount$ | async }}
      {{
        ((staffDashboardService.rejectedCount$ | async) ?? 0) > 1
          ? "errors"
          : "error"
      }}
    </div>
    <button
      (click)="handleRejectedTimes()"
      class="text-white"
      title="Dismiss all rejected time entries"
    >
      <i class="bi bi-x-lg font-bold"></i>
    </button>
  </div>
}

@if (staffDashboardService.time$ | async; as dashboard) {
  @for (date of dashboard.dates; track date.date) {
    @if (dashboard.dates.length > 1) {
      <div
        class="px-5 pb-1 pt-4 font-open-sans text-nav-disabled text-xs font-bold uppercase flex justify-between"
      >
        <div>{{ date.date | date: "EEEE" }} | {{ date.date }}</div>
        <div>{{ date.totalHours | number: "1.2-2" }} hours</div>
      </div>
    }
    <table class="min-w-full border-spacing-0 border-separate">
      <thead>
        <tr class="top-0 text-left">
          <th
            scope="col"
            colspan="2"
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 pr-2 text-nowrap"
          ></th>
          <th
            width="90"
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-3 text-nowrap"
          >
            Hrs
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-2"
            width="150"
          >
            Date
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
            width="120"
          >
            Chrg Code
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-2"
            width="180"
          >
            Client
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-2"
            width="180"
          >
            Project
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-2"
            width="160"
          >
            Activity / Task
          </th>
          <th class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-2">
            Description
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y"
            width="20"
          ></th>
        </tr>
      </thead>
      <tbody>
        @if (
          (staffDashboardService.showAllRejectedTimes$ | async) === false &&
          date.canCreateTime
        ) {
          <tr
            hq-staff-dashboard-time-entry
            (hqTimeChange)="upsertTime($event)"
            [time]="{ date: date.date, timeStatus: timeStatus.Unsubmitted }"
          ></tr>
        }
        @for (time of date.times; track time.id) {
          @switch (time.timeStatus) {
            @case (timeStatus.Unsubmitted) {
              <tr
                hq-staff-dashboard-time-entry
                (hqTimeChange)="upsertTime($event)"
                (hqTimeDelete)="deleteTime($event)"
                (hqTimeDuplicate)="duplicateTime($event)"
                [time]="time"
              ></tr>
            }
            @case (timeStatus.Rejected) {
              <tr
                hq-staff-dashboard-time-entry
                (hqTimeChange)="upsertTime($event)"
                (hqTimeDelete)="deleteTime($event)"
                (hqTimeDuplicate)="duplicateTime($event)"
                [time]="time"
              ></tr>
            }
            @default {
              <tr
                hq-staff-dashboard-time-entry
                (hqTimeChange)="upsertTime($event)"
                (hqTimeDelete)="deleteTime($event)"
                (hqTimeDuplicate)="duplicateTime($event)"
                [time]="time"
                class="even:bg-gray-850 odd:bg-black-alt text-gray-450"
              ></tr>
            }
          }
        }
      </tbody>
    </table>
  }
}
