<div class="px-5 pt-4 mb-[8px]">
  <div class="flex items-end gap-[20px]">
    <hq-staff-dashboard-search-filter />
    <div class="inline-flex gap-20 ml-20">
      <div class="text-white">
        <label class="uppercase font-bold text-xs">Total Hours</label>
        <div class="text-4xl">
          {{ (staffDashboardService.time$ | async)?.totalHours?.toFixed(2) }}
        </div>
      </div>
      <!-- Billable Hours Display -->
      <div class="text-white">
        <label class="uppercase font-bold text-xs">Billable Hours</label>
        <div class="text-4xl">
          {{ (staffDashboardService.time$ | async)?.billableHours?.toFixed(2) }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-5 py-2 mb-[8px] bg-black-alt">
  <div class="flex items-end gap-[20px] justify-between">
    <hq-staff-dashboard-date-range />
    <button
      class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
      type="button"
      (click)="submitTimes()"
    >
      Submit
    </button>
  </div>
</div>

@if (staffDashboardService.time$ | async; as dashboard) {
  @for (date of dashboard.dates; track date.date) {
    @if (dashboard.dates.length > 1) {
      <div
        class="px-5 pb-1 pt-4 font-open-sans text-nav-disabled text-xs font-bold uppercase"
      >
        {{ date.date | date: "EEEE" }} | {{ date.date }}
      </div>
    }
    <table class="min-w-full border-spacing-0 border-separate">
      <thead>
        <tr class="sticky top-0 text-left">
          <th
            scope="col"
            colspan="2"
            width="120"
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 pr-2 text-nowrap"
          >
            Hrs
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
            width="120"
          >
            Date
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
            width="120"
          >
            Chrg Code
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
            width="180"
          >
            Client
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
            width="180"
          >
            Project
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
            width="140"
          >
            Activity / Task
          </th>
          <th class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5">
            Description
          </th>
          <th
            class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5"
            width="20"
          ></th>
        </tr>
      </thead>
      <tbody>
        <tr
          hq-staff-dashboard-time-entry
          (hqTimeChange)="upsertTime($event)"
          [time]="{ date: date.date, timeStatus: timeStatus.Pending}"
        ></tr>
        @for (time of date.times; track time.id) {
          @switch (time.timeStatus) {
            @case (timeStatus.Submitted) {
              <tr
                hq-staff-dashboard-time-entry
                (hqTimeChange)="upsertTime($event)"
                (hqTimeDelete)="deleteTime($event)"
                [time]="time"
                class="even:bg-gray-850 odd:bg-black-alt text-gray-450"
              ></tr>
            }
            @default {
              <tr
                hq-staff-dashboard-time-entry
                (hqTimeChange)="upsertTime($event)"
                (hqTimeDelete)="deleteTime($event)"
                [time]="time"
              ></tr>
            }
          }
        }
      </tbody>
    </table>
  }
}
