<table class="hq-table">
  <thead>
    <tr>
      <th>Name</th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody class="hq-table-body">
    @for (
      activity of projectDetailsService.activities$ | async;
      track activity.id
    ) {
      <tr>
        <td>Item {{ activity.name }}</td>
        <td class="text-right">
          <button
            type="button"
            [title]="'Delete Activity'"
            class="h-[30px] p-2"
          >
            <i class="bi bi-pencil text-white hover:text-gray-200"></i>
          </button>
          <button
            type="button"
            [title]="'Delete Activity'"
            class="h-[30px] p-2"
          >
            <i class="bi bi-trash text-red-600 hover:text-red-700"></i>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-5">
  <div class="border-b border-black pb-1 px-1 font-bold">Add Activity</div>
  <div class="mb-3 w-56">
    <hq-text-input
      formControlName="name"
      label="Activity Name"
      variant="secondary"
    >
      <ng-template hqValidationError="required">
        Name is required.
      </ng-template>
    </hq-text-input>
  </div>
  <hq-button type="submit">Add</hq-button>
</form>
