:root {
    --pf-global--link--Color: #f17d15;
    --pf-global--link--Color--hover: #af580a;
    --pf-global--link--Color--visited: #af580a;
    --pf-global--primary-color--100: #919191;
    --pf-global--primary-color--200: #666;
}

.pf-c-form-control:focus {
    --pf-c-form-control--BorderTopColor: #333;
    --pf-c-form-control--BorderRightColor: #333;
    --pf-c-form-control--BorderBottomColor: #333;
    --pf-c-form-control--BorderLeftColor: #333;
}

textarea:focus, input:focus{
    outline: none;
}