<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<button
  #button
  type="button"
  (focus)="isOpen = true"
  (keydown)="handleButtonKeydown($event)"
  (blur)="handleBlur()"
  class="pl-2 pr-[43px] w-full appearance-none focus:outline-none font-medium row-start-1 col-start-1 border focus:border-white text-gray-100 bg-blue-900 rounded h-[30px] rounded-br-none rounded-bl-none"
>
  Select an option...
</button>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="button"
  [cdkConnectedOverlayOpen]="isOpen"
  (attach)="onAttach()"
>
  <div
    class="bg-blue-900 border border-gray-100 overflow-hidden rounded-md border-t-0 rounded-tr-none rounded-tl-none"
    [style.width.px]="button.offsetWidth"
  >
    <div class="border-b border-b-white">
      <hq-search-input
        (keydown)="handleSearchInputKeydown($event)"
        variant="transparent"
        (focusin)="handleFocusIn($event)"
        (focusout)="handleFocusOut($event)"
        [formControl]="control"
        (hqBlur)="isOpen = false"
        [attr.aria-selected]="activeOptionIndex === -1"
      >
      </hq-search-input>
    </div>

    <div class="left-0 bg-blue-900 rounded-md">
      <ng-container>
        <ul
          cdkListbox
          cdkListboxMultiple
          cdkListboxUseActiveDescendant
          aria-labelledby="spatula-label"
          class="listbox"
          [tabindex]="-1"
        >
          @for (option of filteredOptions; track $index) {
            <li
              [tabindex]="-1"
              [ngClass]="{
                'bg-blue-800': $index === activeOptionIndex,
              }"
              #optionElement
              [cdkOption]="option"
              role="option"
              class="block option px-4 py-2 text-gray-100 cursor-pointer hover:opacity-70 opacity-100 border-b border-gray-400 last:border-b-0"
              (click)="handleSelect(option)"
              (mousedown)="$event.preventDefault()"
              [attr.aria-selected]="$index === activeOptionIndex"
            >
              {{ option.name }}
            </li>
          }
          @if (filteredOptions.length === 0) {
            <li
              [tabindex]="-1"
              (mousedown)="$event.preventDefault()"
              class="block option px-4 py-2 text-gray-50 cursor-pointer-none cursor-default hover:opacity-70 opacity-100 border-b border-gray-400 last:border-b-0"
            >
              No Results Found
            </li>
          }
        </ul>
      </ng-container>
    </div>
  </div>
</ng-template>
@for (error of validationErrors; track error.hqValidationError) {
  @if (
    ngControl &&
    ngControl.errors &&
    ngControl.touched &&
    error.hqValidationError &&
    ngControl.errors[error.hqValidationError]
  ) {
    <div class="text-red-700 text-xs leading-normal">
      <ng-container [ngTemplateOutlet]="error.templateRef"></ng-container>
    </div>
  }
}
