<h1 class="font-rajdhani font-semibold text-3xl px-5 mb-5">Planning Points</h1>
<div class="flex w-full flex-1 items-end gap-[20px] px-5 mb-3">
  <hq-search-input [formControl]="search"></hq-search-input>
  <div class="w-40">
    <hq-select-input
      label="Project Manager"
      [formControl]="projectManagerId"
      [autocomplete]="true"
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      @for (
        projectManager of projectManagers$ | async;
        track projectManager.id
      ) {
        <ng-template
          [hqSelectInputOption]="projectManager.id"
          [hqSelectInputOptionSelectedDisplay]="projectManager.name"
          [hqSelectInputOptionSearch]="projectManager.name"
          >{{ projectManager.name }}</ng-template
        >
      }
    </hq-select-input>
  </div>
  <div class="w-40">
    <hq-select-input
      [autocomplete]="true"
      [formControl]="isCompleted"
      label="Completed"
      
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      <ng-template [hqSelectInputOption]="true">Yes</ng-template>
      <ng-template [hqSelectInputOption]="false">No</ng-template>
    </hq-select-input>
  </div>
</div>
@if (summary$ | async; as summary) {
  <div class="flex flex-col items-start px-5 bg-black-alt">
    <span
      class="font-open-sans text-nav-disabled text-xs font-bold uppercase flex justify-between p-1"
      >WEEK PLAN - WEEK OF</span
    >

    <div class="flex justify-center">
      <div class="flex items-center space-x-4 py-1">
        <button
          title="Previous plan"
          class="focus:outline-none"
          (click)="date.next(summary.previousDate)"
        >
          <i class="bi bi-arrow-left-short text-[28px]"></i>
        </button>

        <span>
          {{ summary.displayDate | date: "MM/dd/yyyy" }}
        </span>
        <button
          title="Next plan"
          class="focus:outline-none"
          (click)="date.next(summary.nextDate)"
        >
          <i class="bi bi-arrow-right-short text-[28px]"></i>
        </button>
      </div>
    </div>
  </div>

  <table class="hq-table table-fixed" [class.loading]="loading | async">
    <thead>
      <tr>
        <th colspan="2">Staff</th>
        <th class="text-center"></th>

        <th width="170" class="text-center">1</th>
        <th width="170" class="text-center">2</th>
        <th width="170" class="text-center">3</th>
        <th width="170" class="text-center">4</th>
        <th width="170" class="text-center">5</th>
        <th width="170" class="text-center">6</th>
        <th width="170" class="text-center">7</th>
        <th width="170" class="text-center">8</th>
        <th width="170" class="text-center">9</th>
        <th width="170" class="text-center">10</th>
      </tr>
    </thead>
    <tbody class="hq-table-body hq-table-body-condensed">
      @for (staff of summary.staff; track staff.staffId) {
        <tr>
          <td
            width="15"
            [ngClass]="{
              'bg-green-600': staff.completed,
              'bg-red-700': !staff.completed,
            }"
          ></td>
          <td>
            <a
              [routerLink]="['/staff', staff.staffId, 'timesheet']"
              class="hover:text-teal-300 ml-2"
              target="_blank"
              >{{ staff.staffName }}</a
            >
          </td>
          <td>
            @if (
              [HQRole.Manager, HQRole.Partner, HQRole.Administrator]
                | inRole
                | async
            ) {
              <button
                (click)="editStaffPlanningPoint(staff)"
                title="Edit points"
              >
                <i class="bi bi-pencil-fill text-gray-450"></i>
              </button>
            }
          </td>
          @for (point of staff.points; track point.id) {
            <td width="165" class="border-l border-black">
              <div
                [ngClass]="{ 'text-gray-450 ': isNonMatched(point) }"
                class="w-full text-left flex items-center h-8 p-1 overflow-hidden"
              >
                @if (point.chargeCodeId) {
                  <a
                    class="px-2 font-semibold rounded-full w-full whitespace-nowrap"
                    [routerLink]="['/projects', point.projectId]"
                    [title]="
                      point.chargeCode +
                      ': ' +
                      point.clientName +
                      ': ' +
                      point.projectName
                    "
                    target="_blank"
                    [style.background-color]="
                      configureChargeCodeColorOpacity(point)
                    "
                  >
                    {{ getDisplayName(point) }}
                  </a>
                }
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div class="px-5">Loading...</div>
}
