<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="h-[calc(100dvh-106px)] fixed top-70 left-0 w-full flex flex-col">
    <div class="px-5">
      <h1 class="font-rajdhani font-semibold text-3xl">Edit Time</h1>

      <div class="py-3">
        <a routerLink="/times" class="text-gray-50 underline">Time List</a>
      </div>
    </div>

    <div class="overflow-hidden flex-auto">
      <div class="grid gap-0 relative">
        <main
          class="flex flex-col bg-black-alt overflow-y-auto h-[calc(100dvh-(192px))]"
        >
          <div
            class="bg-black-alt border-steel-blue-600 border-t sticky top-0 flex h-[53px] z-50"
          >
            <div
              class="w-full flex flex-row border-b border-black justify-between pe-5"
            >
              <div class="flex pt-[23px]">
                <a
                  href="#"
                  routerLink="projects"
                  routerLinkActive="border-gray-100"
                  class="w-full min-w-[107px] text-center whitespace-nowrap px-3 py-1 font-bold border-b border-gray-100 hover:border-gray-100"
                  >Details</a
                >
              </div>
              <div class="flex flex-column justify-center items-center">
                <button
                  type="submit"
                  class="h-[36px] px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px]"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
          <div class="grid flex-1">
            <div class="p-5 pr-0">
              <div class="grid gap-[20px]">
                <hq-error-display [errors]="apiErrors"></hq-error-display>

                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(200px,395px)] pr-5"
                >
                  <!-- column -->
                  <!-- column -->
                  <!-- <div>
                    <label for="" class="font-open-sans text-nav-disabled text-xs font-bold uppercase">Charge Code
                      </label>
                    <div class="grid relative w-full max-w-[220px]">
                      <select formControlName="ChargeCode"
                        class="w-full pl-2 pr-[43px] appearance-none focus:outline-none hover:cursor-pointer font-medium row-start-1 col-start-1 border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px]">
                        <option [ngValue]="null" selected>
                          Select Activity
                        </option>
                        <option [ngValue]="ChargeCodeActivity.General">
                          General
                        </option>
                        <option [ngValue]="ChargeCodeActivity.Project">
                          Project
                        </option>
                        <option [ngValue]="ChargeCodeActivity.Quote">
                          Quote
                        </option>
                        <option [ngValue]="ChargeCodeActivity.Service">
                          Service
                        </option>
                      </select>
                      <span
                        class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100">
                        <i class="bi bi-arrow-down-short text-[24px]"></i>
                      </span>
                    </div>
                  </div> -->
                  @if (chargeCodes$ | async) {
                    <div>
                      <label
                        for=""
                        class="font-open-sans text-nav-disabled text-xs font-bold uppercase"
                        >Charge Codes</label
                      >
                      <div class="grid relative w-full">
                        <select
                          [class.border-red-700]="
                            form.get('ChargeCode')?.touched &&
                            form.get('ChargeCode')?.errors?.['required']
                          "
                          formControlName="ChargeCode"
                          class="w-full pl-2 pr-[43px] appearance-none focus:outline-none hover:cursor-pointer font-medium row-start-1 col-start-1 border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px]"
                        >
                          <option [ngValue]="null">Select Chargecode</option>
                          @for (
                            chargecode of chargeCodes$ | async;
                            track $index
                          ) {
                            <option [ngValue]="chargecode.code">
                              {{ chargecode.code }} ({{
                                chargecode.clientName
                              }}) ({{ chargecode.projectName }})
                            </option>
                          }
                        </select>
                        <span
                          class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100"
                        >
                          <i class="bi bi-arrow-down-short text-[24px]"></i>
                        </span>
                        @if (
                          form.get("ProjectId")?.touched &&
                          form.get("ProjectId")?.errors?.["required"]
                        ) {
                          <span
                            class="text-red-700 text-xs leading-normal inline-block"
                            >Selecting Project is required.</span
                          >
                        }
                      </div>
                    </div>
                  }
                  <!-- @if (projects$ | async) {
                  <div>
                    <label for="" class="font-open-sans text-nav-disabled text-xs font-bold uppercase">Project</label>
                    <div class="grid relative w-full max-w-[220px]">
                      <select [class.border-red-700]="form.get('ProjectId')?.touched &&
                      form.get('ProjectId')?.errors?.['required']" formControlName="ProjectId" class="w-full pl-2 pr-[43px] appearance-none focus:outline-none hover:cursor-pointer
                        font-medium row-start-1 col-start-1 border border-steel-blue-600 text-gray-100
                        bg-blue-900 rounded h-[36px]">
                        <option [ngValue]="null">Select Project</option>
                        @for (project of (projects$ | async); track
                        $index) {
                        <option [ngValue]="project.id">
                          {{ project.name }}
                        </option>
                        }

                      </select>
                      <span
                        class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100">
                        <i class="bi bi-arrow-down-short text-[24px]"></i>
                      </span>
                      @if(form.get('ProjectId')?.touched &&
                      form.get('ProjectId')?.errors?.['required']) {
                      <span class="text-red-700 text-xs leading-normal inline-block">Selecting Project is required.</span>
                      }
                    </div>
                  </div>
                } -->

                  <!-- @if((clients$ | async)) {
    <div class="relative flex flex-col w-full max-w-[220px]">
      <label for="client" class="font-open-sans text-nav-disabled text-xs font-bold uppercase">Select Client</label>
      <div class="grid relative">
        <select formControlName="ClientId" class="w-full pl-2 pr-[43px] appearance-none focus:outline-none hover:cursor-pointer font-medium row-start-1 col-start-1 border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px]">
          <option [ngValue]="null">Select Client</option>
          @for (client of clients$ | async; track $index)
          {
          <option [value]="client.id">
            {{ client.name }}
          </option>
          }
        </select>
        <span class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100">
          <i class="bi bi-arrow-down-short text-[24px]"></i>
        </span>
      </div>
    </div>
  } -->
                  <!-- @if((projects$ | async)) {
    <div class="relative flex flex-col w-full max-w-[220px]">
      <label for="project" class="font-open-sans text-nav-disabled text-xs font-bold uppercase">Select Project</label>
      <div class="grid relative">
        <select formControlName="ProjectId" class="w-full pl-2 pr-[43px] appearance-none focus:outline-none hover:cursor-pointer font-medium row-start-1 col-start-1 border border-steel-blue-600 text-gray-100 bg-blue-900 rounded h-[36px]">
          <option [ngValue]="null">Select Project</option>
          @for (project of projects$ | async; track $index)
          {
          <option [value]="project.id">
            {{ project.name }} ({{ project.chargeCode }})
          </option>
          }
        </select>
        <span class="flex items-center justify-center h-full pointer-events-none z-10 right-0 relative col-start-1 row-start-1 self-center justify-self-end w-[36px] after:block after:w-[1px] after:absolute after:left-[1px] after:top-[7px] after:bottom-[7px] after:bg-gray-100">
          <i class="bi bi-arrow-down-short text-[24px]"></i>
        </span>
      </div>
    </div>
  } -->

                  <!-- column -->
                </div>
                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col grid-cols-[395px_minmax(200px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <label
                      for=""
                      class="font-open-sans text-nav-disabled text-xs font-bold uppercase"
                      >Hours</label
                    >
                    <input
                      formControlName="Hours"
                      type="number"
                      name=""
                      id="Hours"
                      (change)="updateHours($event)"
                      class="w-[100%] max-w-[121px] block text-[14px] px-2 py-1 border border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px]"
                      placeholder="Hours"
                    />
                  </div>
                  <div>
                    <!-- text input -->
                    <label
                      for=""
                      class="font-open-sans text-nav-disabled text-xs font-bold uppercase"
                      >Description</label
                    >
                    <input
                      [class.border-red-700]="
                        form.get('Notes')?.touched &&
                        form.get('DescriNotesption')?.errors?.['required']
                      "
                      type="text"
                      name="Notes"
                      id="Notes"
                      class="w-[100%] max-w-[395px] block text-[14px] px-2 py-1 border border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px]"
                      placeholder="Enter Description"
                      formControlName="Notes"
                    />
                    @if (
                      form.get("Notes")?.touched &&
                      form.get("Notes")?.errors?.["required"]
                    ) {
                      <span
                        class="text-red-700 text-xs leading-normal inline-block"
                        >Description is required.</span
                      >
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</form>
