@if (listService.records$ | async; as records) {
  @if (records.length === 0) {
    <tr>
      <td [colSpan]="999" class="bg-black-alt">
        <h1 class="text-center py-4 font-bold">No matching records found</h1>
      </td>
    </tr>
  } @else {
    <ng-content></ng-content>
  }
} @else if (listService.loading$ | async) {
  <tr>
    <td [colSpan]="999" class="bg-black-alt">
      <h1 class="text-center py-4 font-bold">Loading...</h1>
    </td>
  </tr>
} @else {
  <tr>
    <td [colSpan]="999" class="bg-black-alt">
      <h1 class="text-center py-4 font-bold">Error fetching records</h1>
    </td>
  </tr>
}
