<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="h-[calc(100dvh-106px)] fixed top-70 left-0 w-full flex flex-col">
    <div class="px-5">
      <h1 class="font-rajdhani font-semibold text-3xl">Edit Client</h1>

      <div class="py-3">
        <a routerLink="/clients" class="text-gray-50 underline">Client List</a>
      </div>
    </div>

    <div class="overflow-hidden flex-auto">
      <div class="grid gap-0 relative">
        <main
          class="flex flex-col bg-black-alt overflow-y-auto h-[calc(100dvh-(192px))]"
        >
          <div
            class="bg-black-alt border-steel-blue-600 border-t sticky top-0 flex h-[53px] z-50"
          >
            <div
              class="w-full flex flex-row border-b border-black justify-between pe-5"
            >
              <div class="flex pt-[23px]">
                <a
                  href="#"
                  routerLink="projects"
                  routerLinkActive="border-gray-100"
                  class="w-full min-w-[107px] text-center whitespace-nowrap px-3 py-1 font-bold border-b border-gray-100 hover:border-gray-100"
                  >Details</a
                >
              </div>
              <div class="flex flex-column justify-center items-center">
                <hq-button type="submit">Save</hq-button>
              </div>
            </div>
          </div>
          <div class="grid flex-1">
            <div class="p-5 pr-0">
              <div class="grid gap-[20px]">
                @if (this.apiErrors) {
                  @for (error of this.apiErrors; track $index) {
                    <div
                      class="text-red-700 text-xs leading-normal inline-block"
                    >
                      {{ error }}
                    </div>
                  }
                }

                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(200px,395px)] pr-5"
                >
                  <hq-text-input
                    variant="secondary"
                    label="Client Name"
                    placeholder="Client Name"
                    formControlName="name"
                  >
                    <ng-template hqValidationError="required">
                      Name is required.
                    </ng-template>
                  </hq-text-input>
                  <hq-text-input
                    variant="secondary"
                    label="Official Name"
                    placeholder="Official Name"
                    formControlName="officialName"
                  ></hq-text-input>
                </div>
                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col grid-cols-[395px_minmax(200px,395px)] pr-5"
                >
                  <hq-text-input
                    variant="secondary"
                    label="Billing Email"
                    placeholder="Billing Email"
                    formControlName="billingEmail"
                  >
                    <ng-template hqValidationError="email">
                      Email address is invalid.
                    </ng-template>
                  </hq-text-input>
                  <hq-text-input
                    variant="secondary"
                    type="number"
                    label="Hourly Rate"
                    placeholder="Hourly Rate"
                    formControlName="hourlyRate"
                    [min]="0"
                  >
                    <ng-template hqValidationError="min">
                      Hourly rate must be positive.
                    </ng-template>
                  </hq-text-input>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</form>
