<div class="h-[calc(100dvh-106px)] fixed top-70 left-0 w-full flex flex-col">
  <div class="px-5">
    <h1 class="font-rajdhani font-semibold text-3xl">Create Quote</h1>

    <div class="py-3">
      <a routerLink="/quotes" class="text-gray-50 underline">Quote List</a>
    </div>
  </div>

  <div class="overflow-hidden flex-auto">
    <div class="grid gap-0 relative">
      <main
        class="flex flex-col bg-black-alt overflow-y-auto h-[calc(100dvh-(192px))]"
      >
        <div
          class="bg-black-alt border-steel-blue-600 border-t sticky top-0 flex h-[53px] z-50"
        >
          <div
            class="w-full flex flex-row border-b border-black justify-between pe-5"
          >
            <div class="flex pt-[23px]">
              <a
                href="#"
                routerLink="quotes"
                routerLinkActive="border-gray-100"
                class="w-full min-w-[107px] text-center whitespace-nowrap px-3 py-1 font-bold border-b border-gray-100 hover:border-gray-100"
                >Details</a
              >
            </div>

            <div class="flex flex-column justify-center items-center">
              <hq-button (click)="onSubmitProject()" type="submit"
                >Save</hq-button
              >
            </div>
          </div>
        </div>
        <form [formGroup]="quoteFormGroup" (ngSubmit)="onSubmitProject()">
          <div class="grid 2xl:grid-cols-[1fr_594px] flex-1">
            <div class="p-5 pr-0">
              <div class="grid gap-[20px]">
                @if (this.apiErrors) {
                  @for (error of this.apiErrors; track $index) {
                    <div
                      class="text-red-700 text-xs leading-normal inline-block"
                    >
                      {{ error }}
                    </div>
                  }
                }

                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(77px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <hq-select-input
                      formControlName="clientId"
                      label="Client"
                      variant="secondary"
                    >
                      <ng-template [hqSelectInputOption]="null"
                        >Please Select a client</ng-template
                      >
                      <ng-template hqValidationError="required">
                        Client is required.
                      </ng-template>
                      @for (client of clients$ | async; track client.id) {
                        <ng-template [hqSelectInputOption]="client.id">{{
                          client.name
                        }}</ng-template>
                      }
                    </hq-select-input>
                  </div>
                </div>
                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(77px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <hq-text-input
                      formControlName="name"
                      label="Quote Name"
                      variant="secondary"
                      placeholder="Quote Name"
                    >
                      <ng-template hqValidationError="required">
                        Quote name is required.
                      </ng-template>
                    </hq-text-input>
                  </div>
                </div>
                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(77px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <hq-select-input
                      formControlName="status"
                      label="Quote Status"
                      variant="secondary"
                    >
                      <ng-template hqValidationError="required">
                        Status is required.
                      </ng-template>
                      <ng-template [hqSelectInputOption]="null">
                        Select Quote Status
                      </ng-template>
                      <ng-template [hqSelectInputOption]="quoteStatus.Draft">
                        {{ quoteStatus[quoteStatus.Draft] }}
                      </ng-template>
                      <ng-template [hqSelectInputOption]="quoteStatus.Closed">
                        {{ quoteStatus[quoteStatus.Closed] }}
                      </ng-template>
                      <ng-template
                        [hqSelectInputOption]="quoteStatus.Completed"
                      >
                        {{ quoteStatus[quoteStatus.Completed] }}
                      </ng-template>
                      <ng-template
                        [hqSelectInputOption]="quoteStatus.InProduction"
                      >
                        {{ quoteStatus[quoteStatus.InProduction] }}
                      </ng-template>
                      <ng-template [hqSelectInputOption]="quoteStatus.Lost">
                        {{ quoteStatus[quoteStatus.Lost] }}
                      </ng-template>
                      <ng-template
                        [hqSelectInputOption]="quoteStatus.WaitingForClient"
                      >
                        {{ quoteStatus[quoteStatus.WaitingForClient] }}
                      </ng-template>
                      <ng-template
                        [hqSelectInputOption]="quoteStatus.WaitingForSale"
                      >
                        {{ quoteStatus[quoteStatus.WaitingForSale] }}
                      </ng-template>
                      <ng-template
                        [hqSelectInputOption]="quoteStatus.WaitingForStaff"
                      >
                        {{ quoteStatus[quoteStatus.WaitingForStaff] }}
                      </ng-template>
                    </hq-select-input>
                  </div>
                </div>

                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(77px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <hq-text-input
                      type="number"
                      formControlName="value"
                      label="Value"
                      variant="secondary"
                      placeholder="$ Value"
                    >
                      <ng-template hqValidationError="required">
                        Value is required.
                      </ng-template>
                    </hq-text-input>
                  </div>
                </div>

                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(77px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <hq-text-input
                      type="number"
                      formControlName="quoteNumber"
                      label="Quote Number"
                      variant="secondary"
                      placeholder="Quote Number"
                    >
                    </hq-text-input>
                    <small class="text-gray-700">Leave blank to generate</small>
                  </div>
                </div>

                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(77px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <hq-date-input
                      formControlName="date"
                      label="Date"
                      variant="secondary"
                    >
                    </hq-date-input>
                  </div>
                </div>

                <!-- row grid -->
                <div
                  class="grid gap-[20px] grid-flow-col auto-cols-[minmax(77px,395px)] pr-5"
                >
                  <!-- column -->
                  <div>
                    <hq-textarea-input
                      formControlName="description"
                      label="Description"
                      variant="secondary"
                      placeholder="Description"
                    >
                      <ng-template hqValidationError="required">
                        Value is required.
                      </ng-template>
                    </hq-textarea-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
  </div>
</div>
