<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Quotes</h1>

  <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">&nbsp;</div>
</div>
<div class="px-5 pt-4 pb-2">
  <div class="flex w-full flex-1 items-end gap-[20px] mb-[8px] xl:mb-0">
    <hq-search-input [formControl]="listService.search"></hq-search-input>

    <!-- select dropdown -->
    <hq-select-input
      class="w-52"
      [formControl]="listService.quoteStatus"
      label="Quote Status"
      [autocomplete]="true"
    >
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      @for (status of listService.projectStatusEnum$ | async; track status.id) {
        <ng-template
          [hqSelectInputOption]="status.id"
          [hqSelectInputOptionSelectedDisplay]="status.name"
          [hqSelectInputOptionSearch]="status.name"
          >{{ status.name }}</ng-template
        >
      }
    </hq-select-input>
  </div>
</div>

<hq-table>
  <thead>
    <tr>
      <th
        width="110"
        scope="col"
        [hq-sort-header]="listService.SortColumn.QuoteNumber"
      >
        Quote
      </th>
      <th
        width="150"
        scope="col"
        [hq-sort-header]="listService.SortColumn.Status"
      >
        Status
      </th>
      <th
        width="200"
        scope="col"
        [hq-sort-header]="listService.SortColumn.ClientName"
      >
        Client
      </th>
      <th scope="col" [hq-sort-header]="listService.SortColumn.QuoteName">
        Name
      </th>
      <th
        width="110"
        scope="col"
        class="hidden xl:table-cell"
        [hq-sort-header]="listService.SortColumn.Date"
      >
        Date
      </th>
      <th
        width="110"
        scope="col"
        class="text-right hidden xl:table-cell"
        [hq-sort-header]="listService.SortColumn.Value"
      >
        Value
      </th>
      <th width="250" scope="col">
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <hq-button routerLink="/quotes/create">
            <i class="bi bi-plus"></i>
            Quote
          </hq-button>
        }
      </th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @for (record of listService.records$ | async; track record.id) {
      <tr>
        <td>
          {{ record.quoteNumber }}
        </td>
        <td>
          {{ listService.ProjectStatus[record.status] }}
        </td>
        <td>{{ record.clientName }}</td>
        <td>{{ record.name }}</td>
        <td class="hidden xl:table-cell">{{ record.date }}</td>
        <td class="text-right hidden xl:table-cell">
          {{ (record.value | currency) ?? "-" }}
        </td>
        <td class="text-right">
          <div class="text-nowrap divide-x divide-teal-200">
            @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
              @if (record.hasProject) {
                <span class="text-nav-disabled pr-3"
                  ><i class="bi bi-plus"></i> PROJECT</span
                >
              } @else {
                <a
                  [routerLink]="['/projects/create']"
                  [queryParams]="{
                    clientId: record.clientId,
                    quoteId: record.id,
                  }"
                  class="text-teal-200 hover:text-teal-300 pr-3"
                  ><i class="bi bi-plus"></i> PROJECT</a
                >
              }
              <a
                [routerLink]="['edit', record.id]"
                class="text-teal-200 hover:text-teal-300 px-3"
                >EDIT</a
              >
            }
            @if (record.hasPDF) {
              <button
                type="button"
                (click)="getPdf(record.id)"
                class="text-teal-200 hover:text-teal-300 pl-3"
              >
                PDF
              </button>
            } @else {
              <span class="text-nav-disabled pl-3">PDF</span>
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</hq-table>
