<div class="px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Quotes</h1>

  <div class="grid gap-7 grid-flow-col auto-cols-max pt-3">&nbsp;</div>
</div>
<div class="px-5 pt-4 pb-2">
  <div class="flex w-full flex-1 items-center gap-[20px] mb-[8px] xl:mb-0">
    <hq-search-input [formControl]="quoteListService.search"></hq-search-input>

    <!-- select dropdown -->
    <hq-select-input [formControl]="quoteListService.quoteStatus">
      <ng-template [hqSelectInputOption]="null">All</ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.Unknown"
      >
        Unknown
      </ng-template>
      <ng-template [hqSelectInputOption]="quoteListService.ProjectStatus.Draft">
        Draft
      </ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.WaitingForSale"
      >
        Waiting For Sale
      </ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.WaitingForClient"
      >
        Waiting For Client
      </ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.WaitingForStaff"
      >
        Waiting For Staff
      </ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.InProduction"
      >
        In Production
      </ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.Ongoing"
      >
        Ongoing
      </ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.Completed"
      >
        Completed
      </ng-template>
      <ng-template
        [hqSelectInputOption]="quoteListService.ProjectStatus.Closed"
      >
        Closed
      </ng-template>
      <ng-template [hqSelectInputOption]="quoteListService.ProjectStatus.Lost"
        >Lost</ng-template
      >
    </hq-select-input>
  </div>
</div>

<table class="min-w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        width="110"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        (click)="onSortClick(sortColumn.QuoteNumber)"
      >
        Quote
        <hq-sort-icon
          [column]="sortColumn.QuoteNumber"
          [activeColumn]="quoteListService.sortOption$ | async"
          [activeSortDirection]="quoteListService.sortDirection$ | async"
        />
      </th>
      <th
        width="150"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.Status)"
      >
        Status
        <hq-sort-icon
          [column]="sortColumn.Status"
          [activeColumn]="quoteListService.sortOption$ | async"
          [activeSortDirection]="quoteListService.sortDirection$ | async"
        />
      </th>
      <th
        width="200"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.ClientName)"
      >
        Client
        <hq-sort-icon
          [column]="sortColumn.ClientName"
          [activeColumn]="quoteListService.sortOption$ | async"
          [activeSortDirection]="quoteListService.sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.QuoteName)"
      >
        Name
        <hq-sort-icon
          [column]="sortColumn.QuoteName"
          [activeColumn]="quoteListService.sortOption$ | async"
          [activeSortDirection]="quoteListService.sortDirection$ | async"
        />
      </th>
      <th
        width="110"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.Date)"
      >
        Date
        <hq-sort-icon
          [column]="sortColumn.Date"
          [activeColumn]="quoteListService.sortOption$ | async"
          [activeSortDirection]="quoteListService.sortDirection$ | async"
        />
      </th>
      <th
        width="110"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer text-right"
        (click)="onSortClick(sortColumn.Value)"
      >
        Value
        <hq-sort-icon
          [column]="sortColumn.Value"
          [activeColumn]="quoteListService.sortOption$ | async"
          [activeSortDirection]="quoteListService.sortDirection$ | async"
        />
      </th>
      <th
        width="160"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5"
      >
        @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
          <hq-button routerLink="/quotes/create">
            <i class="bi bi-plus"></i>
            Quote
          </hq-button>
        }
      </th>
    </tr>
  </thead>
  <tbody>
    @if ((quoteListService.quotes$ | async)?.length === 0) {
      <td colspan="8" class="bg-black-alt">
        <h1 class="text-center py-4 font-bold">No matching records found</h1>
      </td>
    }
    @for (quote of quoteListService.quotes$ | async; track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black py-2 pl-5 pr-2">
          {{ quote.quoteNumber }}
        </td>
        <td class="border-b border-black py-2">
          {{ getProjectStatusString(quote.status) }}
        </td>
        <td class="border-b border-black py-2">{{ quote.clientName }}</td>
        <td class="border-b border-black py-2">{{ quote.name }}</td>
        <td class="border-b border-black py-2">{{ quote.date }}</td>
        <td class="border-b border-black py-2 text-right">
          {{ (quote.value | currency) ?? "-" }}
        </td>
        <td class="border-b border-black py-2 text-right pr-5">
          <div class="text-nowrap divide-x divide-teal-200">
            @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
              <a
                [routerLink]="['edit', quote.id]"
                class="text-teal-200 hover:text-teal-300 pr-3"
                >EDIT</a
              >
            }
            @if (quote.hasPDF) {
              <button
                type="button"
                (click)="getPdf(quote.id)"
                class="text-teal-200 hover:text-teal-300 pl-3"
              >
                PDF
              </button>
            } @else {
              <span class="text-nav-disabled pl-3">PDF</span>
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
<div
  class="justify-between items-center grid grid-cols-3 py-3 px-5 bg-blue-900 border-y border-steel-blue-600"
>
  <div>
    <select
      class="bg-black-alt border border-gray-300 rounded py-1 px-2 mr-2"
      [formControl]="quoteListService.itemsPerPage"
    >
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
      <!-- Add more options as needed -->
    </select>
    <span>items per page</span>
  </div>
  <hq-paginator
    [total]="(quoteListService.totalRecords$ | async) ?? 0"
    [pageSize]="quoteListService.itemsPerPage.value"
    [currentPage]="quoteListService.page.value"
    (page)="goToPage($event)"
  ></hq-paginator>
  <div class="flex justify-end text-xs">
    {{ quoteListService.skipDisplay$ | async }}-{{
      quoteListService.takeToDisplay$ | async
    }}
    / {{ quoteListService.totalRecords$ | async }} items
  </div>
</div>
