<div class="h-[calc(100dvh-106px)] fixed top-70 left-0 w-full flex flex-col">
  <div class="flex justify-between gap-[20px]">
    <div class="pb-3 px-5">
      <h1 class="font-rajdhani font-semibold text-3xl">Invoice Details</h1>
      <div>
        <div class="flex flex-col xl:flex-row xl:justify-between xl:items-center">
          <div class="grid grid-flow-col gap-[30px] auto-cols-max pt-3">
            @if (invoice){
              <div class="text-gray-50">
                {{ invoice.invoiceNumber }}
              </div>
            }
            @if (currentClient; as client){
              <div class="text-gray-50">
                Client Email: {{ client.billingEmail || "None" }}
              </div>
              <div class="text-gray-50">
                Official Client Name - 
                <a
                    [routerLink]="['/clients', client.id]"
                    class="underline"
                    >{{ client.officialName }}</a
                  >
              </div>
            }
          </div>
    
        </div>
      </div>
    </div>
    <!-- Hour Amounts -->
    <div class="flex space-x-8 pb-4 px-5 pt-3">
      <div class="text-center text-white">
        <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
          TOTAL HOURS
        </div>
        <p class="text-right">
          {{ invoice?.totalHours || "-" }}
        </p>
      </div>
      <div class="text-center text-white">
        <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
          BILLABLE HOURS
        </div>
        <p class="text-right">
          {{ invoice?.billableHours || "-" }}
        </p>
      </div>
      <div class="text-center text-white">
        <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
          ACCEPTED HOURS
        </div>
        <p class="text-right">
          {{ invoice?.acceptedHours || "-" }}
        </p>
      </div>
      <div class="text-center text-white">
        <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
          ACCEPTED BILLABLE HOURS
        </div>
        <p class="text-right">
          {{ invoice?.acceptedBillableHours || "-" }}
        </p>
      </div>
    </div>
  </div>

  <div class="pb-3 px-5">
    <div class="grid grid-cols-3 grid-flow-col">
      <!-- Col 1 - List link / search -->
      <div class="min-w-[130px]">
        <!-- Invoices page link -->
        <div class="pb-2">
          <a routerLink="/invoices" class="text-gray-50 underline">Invoice List</a>
        </div>
        <!-- Search bar -->
        <div class="relative flex items-stretch border text-gray-100 rounded h-[36px] w-full bg-blue-900 border-steel-blue-600">
          <span class="relative flex items-center justify-center text-center whitespace-nowrap w-[36px] after:block after:w-[1px] after:absolute after:right-[1px] after:top-[6px] after:bottom-[6px] after:bg-gray-100">
            <i class="bi bi-search text-[14px]"></i>
          </span>
          <input
            class="w-[100%] block text-[14px] px-2 py-1 appearance-none focus:outline-none hover:cursor-pointer font-medium bg-inherit rounded"
            id="search"
            type="text"
            [formControl]="invoiceDetailsService.search"
            class="w-full block text-[14px] px-2 py-1 appearance-none focus:outline-none font-medium bg-inherit rounded"
            aria-label="Search"
          />
        </div>
      </div>

      <!-- Col 2 - Invoice Hours -->
      <div class="flex justify-center min-w-[256px]">
        <div class="flex flex-row mt-2">
          <div class="text-center text-white">
            <div class="text-xs w-24 text-right uppercase font-bold tracking-[.06em]">
              TOTAL HOURS
            </div>
            <p class="w-24 text-right font-rajdhani font-semibold text-3xl tracking-[.06em]">
              {{ invoice?.totalHours?.toFixed(2) || "--"}}
            </p>
          </div>
          <div class="text-center text-white">
            <div class="text-xs w-32 text-right uppercase font-bold tracking-[.06em]">
              INVOICED HOURS
            </div>
            <p class="w-32 text-right font-rajdhani font-semibold text-3xl tracking-[.06em]">
              {{ invoice?.invoicedHours?.toFixed(2) || "--" }}
            </p>
          </div>
        </div>
      </div>
      <!-- Col 3 - Export/+Time buttons -->
      <div class="flex justify-end gap-[20px] mt-6 min-w-[260px]">
        <button type="button" 
          class="inline-block text-center px-2 py-2 border rounded min-w-[120px] font-normal border-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white" 
          title="Export Invoice time entries">
          Export
        </button>
        <button type="button" 
          (click)="toAddTime()"
          class="inline-block text-center px-2 py-2 border rounded min-w-[120px] font-normal border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white" 
          title="Add new time entries">
          +Time 
        </button>
      </div>
    </div>
  </div>

  <div class="overflow-hidden flex-auto bg-black-alt">
    <div class="grid gap-0 relative">
      <main
        class="flex flex-col bg-black-alt overflow-y-auto "
      >
        <div
          class="bg-black-alt border-steel-blue-600 border-t sticky top-0 flex h-[53px] z-50"
        >
          <div
            class="w-full flex flex-row border-b border-black justify-between pe-5"
          >
            <div class="flex pt-[23px]">
              <a
                href="#"
                routerLink="../details"
                class="w-full min-w-[107px] text-center whitespace-nowrap px-3 py-1 font-bold hover:border-gray-100"
                >Details</a
              >
              <a
                href="#"
                routerLink="./"
                routerLinkActive="border-gray-100"
                class="w-full min-w-[107px] text-center whitespace-nowrap px-3 py-1 font-bold border-b border-gray-100 hover:border-gray-100"
                >Time</a
              >
            </div>
          </div>
        </div>
      </main>
    </div>
    <hq-table [withPagination]="false" class="w-full border-spacing-0 border-separate">
      <thead>
        <tr class="sticky top-0 text-left">
          <th
            width="15px"
            style="padding:0px"
          ></th>
          <th
            width="30px"
          ></th>
          <th
          scope="col"
            width="120px"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.StaffName"
            >
            Staff
          </th>
          <th
            width="120px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.Date"
          >
            Date
          </th>
          <th
            width="40px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.ChargeCode"
          >
            Chrg Code
          </th>
          <th
            width="210px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
          >
            Project
          </th>
          <th
            width="130px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
          >
            Activity/Task
          </th>
          <th
            width="40px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.Hours"
          >
            Hrs
          </th>
          <th
            width="100px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3"
          >
            Invoice Hrs
          </th>
          <th
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
          >
            Description
          </th>
          <th
            width="40px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
          ></th>
        </tr>
      </thead>
      <tbody class="overflow-scroll">
        <tr class="sticky top-0 bg-black-alt border-spacing-0 border-separate text-left">
          <td class="border-b border-black py-2 bg-gray-450"></td>
          <td class="border-y border-s border-white py-1 px-2">
            <!-- <div class="flex justify-center">
              @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
                <input title="Select Entry" type="checkbox">
              }
            </div> -->
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="staff name" type="text" class="bg-blue-900 text-white placeholder-white border border-black px-1 w-24" placeholder="[activeStaff]">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="date" type="date" class="bg-blue-900 text-white border border-black ps-1 w-24" placeholder="{{date}}">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="charge code" type="text" class="bg-blue-900 text-gray-450 border border-black px-1 w-14" placeholder="Chrg">
          </td>
          <td class="border-y border-white py-1 px-2 text-left">
            <input title="project" type="text" class="bg-blue-900 text-gray-450 border border-black px-1" placeholder="Project">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="activity/task" type="text" class="bg-blue-900 text-gray-450 border border-black px-1 w-28" placeholder="Activity">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="hours" type="number" class="bg-blue-900 text-gray-450 border border-black px-1 w-12" placeholder="0">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="invoiced hours" type="number" class="bg-blue-900 text-gray-450 border border-black px-1 w-12" placeholder="0">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="description" type="text" class="bg-blue-900 text-gray-450 border border-black px-1 w-full" placeholder="Description">
          </td>
          <td class="border-e border-y border-white py-1 px-2"></td>
        </tr>
        @for ((time of times$| async); track $index) {
          <tr class="even:bg-gray-850 odd:bg-black-alt {{time.status === 1 ? 'text-gray-450' : 'text-gray-100'}}">
            <td class="border-b border-black py-2 {{
              time.status === 1 ? 'bg-green-450' : 
              time.status === 2 ? 'bg-red-850' :
              time.status === 3 ? 'bg-yellow-550' :
              'bg-gray-450'
              }}
            "></td>
            <td class="border-b border-black py-2 pl-2">
                <!-- <div class="flex justify-center">
                  @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
                    <input #time{{index}}Checkbox title="Select Entry" type="checkbox" (click)="updateTimeSelection(time, $index)">
                  }
                </div> -->
            </td>
            <td class="border-b px-3 border-black py-2">{{ time.staffName }}</td>
            <td class="border-b border-black px-3 py-2">{{ time.date }}</td>
            <td class="border-b px-3 border-black py-2">{{ time.chargeCode }}</td>
            <td class="border-b border-black px-3 py-2">{{ time.projectName }}</td>
            <td class="border-b px-3 border-black py-2">
              {{ time.activityName ?? time.task }}
            </td>
            <td class="border-b border-black px-3 py-2 text-right">
              {{ time.hoursApproved !== undefined ? time.hoursApproved : time.hours }}
            </td>
            <td class="border-b border-black px-2 py-2">
              <input title="invoiced hours" type="number" class="bg-blue-900 text-gray-100 placeholder-gray-100 border border-black px-1 w-12" placeholder="{{time.hoursApproved !== undefined ? time.hoursApproved : time.hours}}">
            </td>
            <!-- <td class="border-b border-black py-2">{{ time.invoiceNumber }}</td> -->
            <td class="border-b border-black px-3 py-2">{{ time.description }}</td>
            <td class="border-b border-black px-3 py-2 justify-center">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#852420" class="size-3 hover:fill-red-600">
                <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
              </svg> -->
              <button type="button" class="h-[30px] px-2 py-2 rounded w-full" title="Delete Entry from Invoice" (click)="openRemoveTimeModal(time.id)">
                <i class="bi bi-trash text-red-600 hover:text-red-700"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </hq-table>
    @if((times$ | async)?.length === 0){
      <div class="w-full h-full relative text-gray-50">
        <div class="relative top-[30%] text-center justify-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3">
            <path fill-rule="evenodd" d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0ZM6 8c.552 0 1-.672 1-1.5S6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8Zm5-1.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5Zm-6.005 5.805a.75.75 0 0 0 1.06 0 2.75 2.75 0 0 1 3.89 0 .75.75 0 0 0 1.06-1.06 4.25 4.25 0 0 0-6.01 0 .75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
          </svg>      
          <p><b>No time associated with this invoice yet!</b></p>
          <p>Please press <b>+Time</b> or create a time entry to complete the invoice.</p>
        </div>
      </div>
    } 
  </div>
</div>