<div class="flex items-center justify-between px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Time Entries</h1>
  <div class="flex space-x-8 p-4">
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Total Hours
      </div>
      <p class="text-right">
        {{ (TotalHours$ | async)?.toFixed(2) || "-" }}
      </p>
    </div>
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Billable Hours
      </div>
      <p class="text-right">
        {{ (billableHours$ | async)?.toFixed(2) || "-" }}
      </p>
    </div>
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Accepted Hours
      </div>
      <p class="text-right">
        {{ (AcceptedHours$ | async)?.toFixed(2) || "-" }}
      </p>
    </div>
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Accepted Billable Hours
      </div>
      <p class="text-right">
        {{ (AcceptedBillableHours$ | async)?.toFixed(2) || "-" }}
      </p>
    </div>
  </div>
</div>

<div class="px-5 pt-4 mb-[8px]">
  <div class="flex items-end gap-[20px] justify-between">
    <hq-time-search-filter></hq-time-search-filter>
    <!-- <hq-psr-search-filter></hq-psr-search-filter> -->
    <button
      class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
      type="button"
      (click)="exportTime()"
    >
      Export
    </button>
  </div>
</div>

<table class="min-w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 pl-5 cursor-pointer whitespace-nowrap"
        (click)="onSortClick(sortColumn.Date)"
      >
        Date
        <hq-sort-icon
          [column]="sortColumn.Date"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer"
        (click)="onSortClick(sortColumn.StaffName)"
      >
        Staff
        <hq-sort-icon
          [column]="sortColumn.StaffName"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer"
      >
        Client
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
      >
        Project
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
        (click)="onSortClick(sortColumn.ChargeCode)"
      >
        Charge Code
        <hq-sort-icon
          [column]="sortColumn.ChargeCode"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
      >
        Activity/Task
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
      >
        Billable
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
        (click)="onSortClick(sortColumn.Hours)"
      >
        Hours
        <hq-sort-icon
          [column]="sortColumn.Hours"
          [activeColumn]="sortOption$ | async"
          [activeSortDirection]="sortDirection$ | async"
        />
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer"
      >
        Description
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
      >
        Hours Approved
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
      >
        Hours Approved By
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer"
      >
        Invoice #
      </th>

      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5"
        colspan="2"
      >
        <!-- <button routerLink="/times/create" class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal">
            <i class="bi bi-plus"></i>
            time
        </button> -->
      </th>
    </tr>
  </thead>
  <tbody>
    @for ((time of times$ | async); track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black px-3 py-2 pl-5">{{ time.date }}</td>
        <td class="border-b px-3 border-black py-2">{{ time.staffName }}</td>
        <td class="border-b px-3 border-black py-2">
          {{ time.clientName }}
        </td>
        <td class="border-b border-black py-2">{{ time.projectName }}</td>
        <td class="border-b px-3 border-black py-2">{{ time.chargeCode }}</td>
        <td class="border-b px-3 border-black py-2">
          {{ time.activityName ?? time.task }}
        </td>
        <td class="border-b border-black py-2">
          {{ time.billable ? "Yes" : "No" }}
        </td>
        <td class="border-b border-black px-3 py-2 text-right">
          {{ time.hours | number: "1.2-2" }}
        </td>
        <td class="border-b border-black px-3 py-2">{{ time.description }}</td>
        <td class="border-b border-black py-2">{{ time.hoursApproved }}</td>
        <td class="border-b border-black py-2">{{ time.hoursApprovedBy }}</td>
        <td class="border-b border-black py-2">{{ time.invoiceNumber }}</td>

        <td class="border-b border-black py-2 text-right pr-5">
          <a
            [routerLink]="['edit', time.id]"
            class="text-teal-200 hover:text-teal-300"
            >EDIT</a
          >
        </td>
      </tr>
    }
  </tbody>
</table>
<div
  class="justify-between items-center grid grid-cols-3 py-3 px-5 bg-blue-900 border-y border-steel-blue-600"
>
  <div>
    <select
      class="bg-black-alt border border-gray-300 rounded py-1 px-2 mr-2"
      [formControl]="timeListService.itemsPerPage"
    >
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
      <!-- Add more options as needed -->
    </select>
    <span>items per page</span>
  </div>
  <hq-paginator
    [total]="(totalRecords$ | async) ?? 0"
    [pageSize]="timeListService.itemsPerPage.value"
    [currentPage]="timeListService.page.value"
    (page)="goToPage($event)"
  ></hq-paginator>
  <div class="flex justify-end text-xs">
    {{ skipDisplay$ | async }}-{{ takeToDisplay$ | async }} /
    {{ totalRecords$ | async }} items
  </div>
</div>
