<div class="flex items-center justify-between px-5">
  <h1 class="font-rajdhani font-semibold text-3xl">Time Entries</h1>
  <div class="flex space-x-8 p-4">
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Total Hours
      </div>
      <p class="text-right">
        {{
          (listService.response$ | async)?.totalHours?.toFixed(2) || "-" || "-"
        }}
      </p>
    </div>
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Billable Hours
      </div>
      <p class="text-right">
        {{
          (listService.response$ | async)?.billableHours?.toFixed(2) ||
            "-" ||
            "-"
        }}
      </p>
    </div>
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Accepted Hours
      </div>
      <p class="text-right">
        {{
          (listService.response$ | async)?.acceptedHours?.toFixed(2) ||
            "-" ||
            "-"
        }}
      </p>
    </div>
    <div class="text-center text-white">
      <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
        Accepted Billable Hours
      </div>
      <p class="text-right">
        {{
          (listService.response$ | async)?.acceptedBillableHours?.toFixed(2) ||
            "-" ||
            "-"
        }}
      </p>
    </div>
  </div>
</div>

<div class="px-5 pt-4 mb-[8px]">
  <div class="flex items-end gap-[20px] justify-between">
    <hq-time-search-filter></hq-time-search-filter>
    <div class="flex gap-3">
      <button
        class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
        type="button"
        [routerLink]="['create']"
      >
        Create
      </button>
      <!-- <hq-psr-search-filter></hq-psr-search-filter> -->
      <button
        class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal"
        type="button"
        (click)="exportTime()"
      >
        Export
      </button>
    </div>
  </div>
</div>

<hq-table class="w-full border-spacing-0 border-separate">
  <thead>
    <tr class="sticky top-0 text-left">
      <th
        width="120px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
        [hq-sort-header]="sortColumn.Date"
      >
        Date
      </th>
      <th
        scope="col"
        width="120px"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
        [hq-sort-header]="sortColumn.StaffName"
      >
        Staff
      </th>
      <th
        width="150px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
      >
        Client
      </th>
      <th
        width="120px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 whitespace-nowrap"
      >
        Project
      </th>
      <th
        width="40px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
        [hq-sort-header]="sortColumn.ChargeCode"
      >
        Charge Code
      </th>
      <th
        width="120px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
      >
        Activity
      </th>
      <th
        width="60px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
      >
        Task
      </th>
      <th
        width="40px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 whitespace-nowrap"
      >
        Billable
      </th>
      <th
        width="40px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
        [hq-sort-header]="sortColumn.Hours"
      >
        Hours
      </th>
      <th
        width="80px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3"
      >
        Approved
      </th>
      <th
        width="80px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 whitespace-nowrap"
      >
        Invoice #
      </th>
      <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
      >
        Description
      </th>

      <th
        width="40px"
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-2 whitespace-nowrap"
        colspan="2"
      ></th>
    </tr>
  </thead>
  <tbody hq-table-body>
    @for ((time of listService.records$| async); track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black px-3 py-2">{{ time.date }}</td>
        <td class="border-b px-3 border-black py-2">{{ time.staffName }}</td>
        <td class="border-b px-3 border-black py-2">
          {{ time.clientName }}
        </td>
        <td class="border-b border-black py-2">{{ time.projectName }}</td>
        <td class="border-b px-3 border-black py-2">{{ time.chargeCode }}</td>
        <td class="border-b px-3 border-black py-2">
          {{ time.activityName }}
        </td>
        <td class="border-b px-3 border-black py-2">
          {{ time.task }}
        </td>
        <td class="border-b border-black py-2">
          {{ time.billable ? "Yes" : "No" }}
        </td>
        <td class="border-b border-black px-3 py-2 text-right">
          {{ time.hours | number: "1.2-2" }}
        </td>
        <td class="border-b border-black py-2 text-right">
          {{ time.hoursApproved | number: "1.2-2" }}
        </td>
        <td class="border-b border-black py-2">{{ time.invoiceNumber }}</td>
        <td class="border-b border-black px-3 py-2">{{ time.description }}</td>

        <td class="border-b border-black py-2 text-right pr-2">
          <div class="flex justify-end gap-3">
            @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
              <a
                [routerLink]="['edit', time.id]"
                class="text-teal-200 hover:text-teal-300"
                >EDIT</a
              >
              <button (click)="deleteTime(time.id)">
                <i class="bi bi-trash text-red-600 hover:text-red-700"></i>
              </button>
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</hq-table>
