@if (message | async) {
  <div
    class="fixed inset-0 flex items-center justify-center z-50 backdrop-blur confirm-dialog"
  >
    <div
      class="relative px-4 min-h-screen md:flex md:items-center md:justify-center"
    >
      <div class="opacity-25 w-full h-full absolute z-10 inset-0"></div>
      <div
        class="bg-white rounded-lg md:max-w-md md:mx-auto p-6 fixed inset-x-0 bottom-0 z-50 mb-4 mx-4 md:relative shadow-lg"
      >
        <div class="md:flex items-center">
          <div
            class="rounded-full border border-gray-300 flex items-center justify-center w-16 h-16 flex-shrink-0 mx-auto"
          >
            <i class="bx bx-error text-3xl">&#9888;</i>
          </div>
          <div class="mt-4 md:mt-0 md:ml-6 text-center md:text-left">
            <p class="font-bold text-yellow-600 text-lg">Warning!</p>
            <p class="text-sm text-gray-700 mt-1">{{ message | async }}</p>
          </div>
        </div>
        <div class="text-center md:text-right mt-4 md:flex md:justify-end">
          <button
            (click)="confirmationModalService.performActionWith(true)"
            id="confirm-delete-btn"
            class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-red-500 text-white rounded-lg font-semibold text-sm md:ml-2 md:order-2 hover:bg-red-600"
          >
            Confirm
          </button>
          <button
            (click)="confirmationModalService.performActionWith(false)"
            id="confirm-cancel-btn"
            class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-gray-300 rounded-lg font-semibold text-sm mt-4 md:mt-0 md:order-1 hover:bg-gray-400"
          >
            Cancel
          </button>
        </div>
        @if (confirmationModalService.showNotes | async) {
          <div class="mt-4">
            <input
              type="text"
              (input)="onInputChange($event)"
              class="text-gray-900 block w-full px-4 py-2 border rounded-lg text-sm focus:outline-none focus:border-blue-500"
              placeholder="Optional notes"
            />
          </div>
        }
      </div>
    </div>
  </div>
}
