<table class="min-w-full border-spacing-0 border-separate">
  <thead>
      <tr class="sticky top-0 text-left">

          <th
        scope="col"
        class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5 cursor-pointer"
        (click)="onSortClick(sortColumn.chargeCode)">
        Chrg code <hq-sort-icon [column]="sortColumn.chargeCode" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />
      </th>
      <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer">
        Chrg code description
      </th>
      <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer" (click)="onSortClick(sortColumn.Price)">
        Price <hq-sort-icon [column]="sortColumn.Price" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />
      </th>
      <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer" (click)="onSortClick(sortColumn.Cost)">
        Cost <hq-sort-icon [column]="sortColumn.Cost" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />
      </th>
      <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer" (click)="onSortClick(sortColumn.StartDate)">
        Start Date <hq-sort-icon [column]="sortColumn.StartDate" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />
      </th>
      <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer" (click)="onSortClick(sortColumn.EndDate)">
        End Date <hq-sort-icon [column]="sortColumn.EndDate" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />
      </th>
      <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 cursor-pointer" (click)="onSortClick(sortColumn.Status)">
        Status <hq-sort-icon [column]="sortColumn.Status" [activeColumn]="sortOption$ | async" [activeSortDirection]="sortDirection$ | async" />
      </th>
      <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 text-right pr-5" colspan="2">
        <button routerLink="/projects/create" class="inline-block text-center px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px] font-normal">
            <i class="bi bi-plus"></i>
            Service
        </button>
    </th>
      </tr>
  </thead>
  <tbody>
    @for (service of services$ | async; track $index) {
      <tr class="even:bg-gray-850 odd:bg-black-alt">
        <td class="border-b border-black py-2 pl-5">{{ service.chargeCode ?? 'None'}}</td>
        <td class="border-b border-black py-2 pl-5">{{ service.chargeCodeDescription ?? 'None' }}</td>
              <td class="border-b border-black py-2">{{ service.priceValue }}</td>
              <td class="border-b border-black py-2">{{ service.costValue }}</td>
              <td class="border-b border-black py-2">{{ service.startDate ?? '0.0' }}</td>
              <td class="border-b border-black py-2">{{ service.endDate ?? '0.0' }}</td>
              <td class="border-b border-black py-2">{{ getQuoteStatusString(service.quoteStatus) }}</td>
        <td class="border-b border-black py-2 text-right pr-5"><a class="text-teal-200 hover:text-teal-300">VIEW</a></td>

    </tr>
    }
  </tbody>
</table>
<div class="justify-between items-center grid grid-cols-3 py-3 px-5 bg-blue-900 border-y border-steel-blue-600">
  <div>
      <select class="bg-black-alt border border-gray-300 rounded py-1 px-2 mr-2" [formControl]="itemsPerPage">
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
          <!-- Add more options as needed -->
      </select>
      <span>items per page</span>
  </div>
  <hq-paginator [total]="(totalRecords$ | async) ?? 0" [pageSize]="itemsPerPage.value" [currentPage]="page.value" (onPage)="goToPage($event)"></hq-paginator>
  <div class="flex justify-end text-xs">
      {{ skipDisplay$ | async }}-{{ takeToDisplay$ | async }} / {{ totalRecords$ | async }} items
  </div>
</div>
