<table class="min-w-full border-collapse border">
    <thead class="border">
      <tr>
        <th class="">Client Name</th>
        <th class="">Rate</th>
        <th class="">Billing Email</th>
        <th class="">Official Name</th>
        <th class=""><button>Client</button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="">48HrBooks</td>
        <td class="">$105.00</td>
        <td class="">billiningEmail&#64;48HrBooks.com</td>
        <td class="">Official Name - Probably longer than the Name</td>
        <td><a>VIEW</a></td>
      </tr>
      <tr>
        <td class="">ABB</td>
        <td class="">$115.00</td>
        <td class="">billiningEmail&#64;abb.com</td>
        <td class="">Official Name - Probably longer than the Name</td>
        <td><a>VIEW</a></td>
      </tr>
      <tr>
        <td class="">JDM</td>
        <td class="">$100.00</td>
        <td class="">billiningEmail&#64;jdm.com</td>
        <td class="">Official Name - Probably longer than the Name</td>
        <td><a>VIEW</a></td>
      </tr>
      <tr>
        <td class="">Milliken</td>
        <td class="">$100.00</td>
        <td class="">billiningEmail&#64;milliken.com</td>
        <td class="">Official Name - Probably longer than the Name</td>
        <td><a>VIEW</a></td>
      </tr>
      <tr>
        <td class="">XB</td>
        <td class="">$100.00</td>
        <td class="">billiningEmail&#64;xb.com</td>
        <td class="">Official Name - Probably longer than the Name</td>
        <td><a>VIEW</a></td>
      </tr>
      <tr>
        <td class="">Zomedica</td>
        <td class="">$100.00</td>
        <td class="">billiningEmail&#64;zomedica.com</td>
        <td class="">Official Name - Probably longer than the Name</td>
        <td><a>VIEW</a></td>
      </tr>
    </tbody>
  </table>