@if (label) {
  <hq-form-label [for]="uniqueId">{{ label }}</hq-form-label>
}
<div
  class="flex justify-between items-center cursor-default select-none border bg-blue-900"
  [ngClass]="{
    'border-red-500 text-gray-100': ngControl?.invalid && ngControl?.touched,
    'border-steel-blue-600 text-gray-100':
      !(ngControl?.invalid && ngControl?.touched) && variant === 'primary',
    'border-black text-gray-100':
      !(ngControl?.invalid && ngControl?.touched) && variant === 'secondary',
    'border-gray-450 text-gray-450': disabled,
  }"
>
  @if (value) {
    <button class="flex items-center w-full h-[36px]" (click)="input.click()">
      <i
        class="bi bi-cloud-upload-fill text-[14px] w-[36px]"
        [ngClass]="{
          'text-gray-450': disabled,
          'text-white': !disabled,
        }"
      ></i>
      {{ value.name }}
    </button>
    <button
      type="button"
      [disabled]="disabled"
      (click)="clearFile()"
      [ngClass]="{
        'text-red-600 hover:text-red-700': !disabled,
        'text-gray-450': disabled,
      }"
      class="p-2"
    >
      <i class="bi bi-trash text-[14px] w-[36px]"></i>
    </button>
  } @else {
    <button
      (click)="input.click()"
      type="button"
      class="text-gray-450 flex items-center w-full h-[36px]"
      title="Browse"
      [ngClass]="{
        'cursor-not-allowed': disabled,
      }"
    >
      <i
        class="bi bi-cloud-upload-fill text-[14px] w-[36px]"
        [ngClass]="{
          'text-gray-450': disabled,
          'text-white': !disabled,
        }"
      ></i>
      {{ placeholder }}
    </button>
  }
</div>
<input
  [id]="uniqueId"
  [accept]="accept"
  [disabled]="disabled"
  (cancel)="onCancel()"
  (change)="onFileSelected($event)"
  class="hidden"
  type="file"
  #input
/>
@for (error of validationErrors; track error.hqValidationError) {
  @if (
    ngControl &&
    ngControl.errors &&
    ngControl.touched &&
    error.hqValidationError &&
    ngControl.errors[error.hqValidationError]
  ) {
    <div class="text-red-700 text-xs leading-normal">
      <ng-container [ngTemplateOutlet]="error.templateRef"></ng-container>
    </div>
  }
}
