<div class="px-[30px]">
    <h1 class="font-rajdhani font-semibold text-3xl">PSR</h1>

    <div class="grid gap-7 grid-flow-col auto-cols-max pt-3 text-sm">
        <div class="text-gray-50">$105.00</div>
        <div class="text-gray-50">billingEmail&#64;clientDomain.com</div>
        <div class="text-gray-50">Official Name - Probably longer than the name</div>
    </div>
</div>

<div class="px-[30px] pt-3">
    <a routerLink="someId1">Some ID 1</a><br />
    <a routerLink="someId2">Some ID 2</a><br />
    <a routerLink="someId3">Some ID 3</a>
</div>