<div class="h-full w-full flex flex-col">
  <hq-psr-details-header></hq-psr-details-header>
  <!--
  <div class="px-5 pt-3">
    <div
      class="flex flex-col xl:flex-row justify-between items-end gap-4 sm:flex-row"
    >
      <div class="xl:pb-2">
        <hq-psr-search-filter></hq-psr-search-filter>
      </div>
      <div class="flex divide-x ml-aut float-right">
        <hq-tab routerLink="time">Time</hq-tab>
        <hq-tab routerLink="report">PM Report</hq-tab>
      </div>
    </div>
  </div> -->

  <div class="overflow-auto flex-auto scrollbar-hide">
    <router-outlet></router-outlet>
  </div>
</div>
