@if (clientDetailsService.client$ | async; as client) {
  <h1 class="font-rajdhani font-semibold text-3xl">{{ client.name }}</h1>
  <div class="flex justify-between">
    <div class="grid grid-flow-col gap-[30px] auto-cols-max pt-3">
      <div class="text-gray-50">
        Hourly Rate:
        {{ (client.hourlyRate | currency: "USD" : "symbol") ?? "None" }}
      </div>
      <div class="text-gray-50">
        Email:
        @if (client.billingEmail === null || client.billingEmail === "") {
          None
        } @else {
          <a [href]="'mailto:' + client.billingEmail">{{
            client.billingEmail
          }}</a>
        }
      </div>
      <div class="text-gray-50">
        Official Name:
        @if (client.officialName === null || client.officialName === "") {
          None
        } @else {
          {{ client.officialName }}
        }
      </div>
    </div>
    @if (
      clientDetailsService.clientInvoiceSummary$ | async;
      as clientInvoiceSummary
    ) {
      <div class="grid grid-flow-col gap-[30px] auto-cols-max">
        <div>
          <hq-stat-display title="Month to Date" [large]="false">
            {{ (clientInvoiceSummary.monthToDate | currency) ?? "None" }}
          </hq-stat-display>
        </div>
        <div>
          <hq-stat-display title="Last Month to Date" [large]="false">
            {{ (clientInvoiceSummary.lastMonthToDate | currency) ?? "None" }}
          </hq-stat-display>
        </div>
        <div>
          <hq-stat-display title="Year to Date" [large]="false">
            {{ (clientInvoiceSummary.yearToDate | currency) ?? "None" }}
          </hq-stat-display>
        </div>
        <div>
          <hq-stat-display title="All Time to Date" [large]="false">
            {{ (clientInvoiceSummary.allTimeToDate | currency) ?? "None" }}
          </hq-stat-display>
        </div>
      </div>
    }
  </div>
  <div class="flex flex-row justify-between pt-3">
    <a routerLink="/clients" class="text-gray-50 underline">Client List</a>
    <a
      [routerLink]="['/clients/edit', client.id]"
      class="text-gray-50 underline"
      >Edit client details</a
    >
  </div>
}
