@if (client$ | async; as client) {
  <h1 class="font-rajdhani font-semibold text-3xl">{{ client.name }}</h1>
  <div class="flex justify-between">
    <div class="grid grid-flow-col gap-[30px] auto-cols-max pt-3">
      <div class="text-gray-50">
        Hourly Rate:
        {{ (client.hourlyRate | currency: "USD" : "symbol") ?? "None" }}
      </div>
      <div class="text-gray-50">
        Email:
        @if (client.billingEmail === null || client.billingEmail === "") {
          None
        } @else {
          <a [href]="'mailto:' + client.billingEmail">{{
            client.billingEmail
          }}</a>
        }
      </div>
      <div class="text-gray-50">
        Official Name:
        @if (client.officialName === null || client.officialName === "") {
          None
        } @else {
          {{ client.officialName }}
        }
      </div>
    </div>
    @if (clientInvoiceSummary$ | async; as clientInvoiceSummary) {
      <div class="grid grid-flow-col gap-[30px] auto-cols-max">
        <div>
          <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
            Month to Date
          </div>
          <div class="text-right">
            {{ (clientInvoiceSummary.monthToDate | currency) ?? "None" }}
          </div>
        </div>
        <div>
          <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
            Last Month to Date
          </div>
          <div class="text-right">
            {{ (clientInvoiceSummary.lastMonthToDate | currency) ?? "None" }}
          </div>
        </div>
        <div>
          <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
            Year to Date
          </div>
          <div class="text-right">
            {{ (clientInvoiceSummary.yearToDate | currency) ?? "None" }}
          </div>
        </div>
        <div>
          <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
            All Time to Date
          </div>
          <div class="text-right">
            {{ (clientInvoiceSummary.allTimeToDate | currency) ?? "None" }}
          </div>
        </div>
      </div>
    }
  </div>
  <hq-error-display [errors]="apiErrors"></hq-error-display>
  <div class="flex flex-row justify-between pt-3">
    <a routerLink="/clients" class="text-gray-50 underline">Client List</a>
    <a
      [routerLink]="['/clients/edit', client.id]"
      class="text-gray-50 underline"
      >Edit client details</a
    >
  </div>
}
