<div class="h-[calc(100dvh-106px)] fixed top-70 left-0 w-full flex flex-col">
  <div class="flex justify-between gap-[20px]">
    <div class="pb-3 px-5">
      <h1 class="inline leading-8 font-rajdhani font-semibold text-3xl">
        <svg
          href="#"
          routerLink="../"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="inline align-middle size-6 pe-2 cursor-pointer">
          <title>Back</title>
          <path fill-rule="evenodd" d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z" clip-rule="evenodd" />
        </svg>
        
        @if (invoice !== null && currentClient; as client){
          <span class="inline align-middle">{{ invoice?.invoiceNumber }} | {{client.name}}</span>
        }
      </h1>
    </div>
  </div>

  <div class="px-5 pb-3 overflow-hidden">
    <div class="grid grid-cols-10 grid-flow-col">
      <!-- Search and filters -->
      <div class="grid col-span-6">
        <hq-invoice-time-search-filter></hq-invoice-time-search-filter>
      </div>
      <!-- Hrs and add time btn -->
      <div class="grid col-span-4">
        <div class="flex flex-row justify-end">
          <div class="flex space-x-4">
            <div class="text-center text-white">
              <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
                TOTAL HOURS
              </div>
              <p class="text-right">
                {{ invoice?.totalHours || "-" }}
              </p>
            </div>
            <div class="text-center text-white">
              <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
                BILLABLE HOURS
              </div>
              <p class="text-right">
                {{ invoice?.billableHours || "-" }}
              </p>
            </div>
            <div class="text-center text-white">
              <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
                ACCEPTED HOURS
              </div>
              <p class="text-right">
                {{ invoice?.acceptedHours || "-" }}
              </p>
            </div>
            <div class="text-center text-white">
              <div class="text-xs text-right uppercase font-bold tracking-[.06em]">
                ACCEPTED BILLABLE HOURS
              </div>
              <p class="text-right">
                {{ invoice?.acceptedBillableHours || "-" }}
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-between pb-4">
          <div class="text-center text-white">
            <div class="text-xs w-32 text-right uppercase font-bold tracking-[.06em]">
              SELECTED HOURS
            </div>
            <p class="w-32 text-right font-rajdhani font-semibold text-3xl tracking-[.06em]">
              {{ selectedHrs.toFixed(2) || "--" }}
            </p>
          </div>
          <div class="pt-3">
          <button type="button" 
            class="inline-block text-center px-2 py-2 border rounded min-w-[120px] font-normal border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white" 
            title="Add selected time entries to the invoice">
            Add to Invoice 
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-scroll flex-auto bg-black-alt">
    <hq-table [withPagination]="false" class="w-full border-spacing-0 border-separate z-10">
      <thead>
        <tr class="sticky top-0 text-left">
          <th
            scope="col"
            width="15px"
            style="padding:0px"
          ></th>
          <th
            scope="col"
            width="30px"
          ></th>
          <th
          scope="col"
            width="120px"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.StaffName"
            >
            Staff
          </th>
          <th
            width="120px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.Date"
          >
            Date
          </th>
          <th
            width="40px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.ChargeCode"
          >
            Chrg Code
          </th>
          <th
            width="210px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
          >
            Project
          </th>
          <th
            width="130px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
          >
            Activity/Task
          </th>
          <th
            width="40px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 cursor-pointer whitespace-nowrap"
            [hq-sort-header]="sortColumn.Hours"
          >
            Hrs
          </th>
          <th
            width="80px"
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3"
          >
            Invoice Hrs
          </th>
          <th
            scope="col"
            class="bg-blue-900 border-steel-blue-600 border-y px-3 py-3 whitespace-nowrap"
          >
            Description
          </th>
        </tr>
      </thead>
      <!-- <tbody> -->
        <!-- <tr class="sticky top-0 bg-black-alt border-spacing-0 border-separate text-left">
          <td class="border-b border-black py-2 bg-gray-450"></td>
          <td class="border-y border-s border-white py-1 px-2">
            <div class="flex justify-center">
              @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
                <input title="Select Entry" type="checkbox">
              }
            </div>
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="staff name" type="text" class="bg-blue-900 text-white placeholder-white border border-black px-1 w-24" placeholder="[activeStaff]">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="date" type="date" class="bg-blue-900 text-white border border-black ps-1 w-24" placeholder="{{date}}">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="charge code" type="text" class="bg-blue-900 text-gray-450 border border-black px-1 w-14" placeholder="Chrg">
          </td>
          <td class="border-y border-white py-1 px-2 text-left">
            <input title="project" type="text" class="bg-blue-900 text-gray-450 border border-black px-1" placeholder="Project">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="activity/task" type="text" class="bg-blue-900 text-gray-450 border border-black px-1 w-28" placeholder="Activity">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="hours" type="number" class="bg-blue-900 text-gray-450 border border-black px-1 w-12" placeholder="0">
          </td>
          <td class="border-y border-white py-1 px-2">
            <input title="invoiced hours" type="number" class="bg-blue-900 text-gray-450 border border-black px-1 w-12" placeholder="0">
          </td>
          <td class="border-e border-y border-white py-1 px-2">
            <input title="description" type="text" class="bg-blue-900 text-gray-450 border border-black px-1 w-full" placeholder="Description">
          </td>
        </tr> -->
        @for ((time of times$ | async); track $index) {
          <!-- <tr>
            <td class=""> -->
              <!-- <div class="overflow-scroll"> -->
          <tr class="even:bg-gray-850 odd:bg-black-alt {{time.record.status === 1 ? 'text-gray-450' : 'text-gray-100'}}">
            <td class="border-b border-black py-2 {{
              time.record.status === 1 ? 'bg-green-450' : 
              time.record.status === 2 ? 'bg-red-850' :
              time.record.status === 3 ? 'bg-yellow-550' :
              'bg-gray-450'
              }}
            "></td>
            <td class="border-b border-black py-2 pl-2">
                <div class="flex justify-center">
                  @if ([HQRole.Executive, HQRole.Administrator] | inRole | async) {
                    <input id="time_checkbox_{{time.record.id}}" title="Select Entry" [checked]="isChecked(time.record.id)" type="checkbox" (click)="updateTimeSelection(time.record, $index)">
                  }
                </div>
              </td>
            <td class="border-b px-3 border-black py-2">{{ time.record.staffName }}</td>
            <td class="border-b border-black px-3 py-2">{{ time.record.date }}</td>
            <td class="border-b px-3 border-black py-2">{{ time.record.chargeCode }}</td>
            <td class="border-b border-black px-3 py-2">{{ time.record.projectName }}</td>
            <td class="border-b px-3 border-black py-2">
              {{ time.record.activityName ?? time.record.task }}
            </td>
            <td class="border-b border-black px-3 py-2 text-right">
              {{ time.record.hoursApproved !== undefined ? time.record.hoursApproved : time.record.hours | number: "1.2-2" }}
            </td>
            <td class="border-b border-black px-2 py-2">
              <input title="invoiced hours" type="number" class="bg-blue-900 text-gray-100 placeholder-gray-100 border border-black px-1 w-12" placeholder="{{time.record.hours}}">
            </td>
            <!-- <td class="border-b border-black py-2">{{ time.record.invoiceNumber }}</td> -->
            <td class="border-b border-black px-3 py-2">{{ time.record.description }}</td>
          </tr>
              <!-- </div> -->
          <!-- </td>
        </tr> -->
        }
      <!-- </tbody> -->
    </hq-table>
    @if((times$ | async)?.length === 0){
      <div class="w-full h-full relative text-gray-50">
        <div class="relative top-[30%] text-center justify-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3">
            <path fill-rule="evenodd" d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0ZM6 8c.552 0 1-.672 1-1.5S6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8Zm5-1.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5Zm-6.005 5.805a.75.75 0 0 0 1.06 0 2.75 2.75 0 0 1 3.89 0 .75.75 0 0 0 1.06-1.06 4.25 4.25 0 0 0-6.01 0 .75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
          </svg>      
          <p class=""><b>No time associated with this invoice yet!</b></p>
          <p class="">Please press <b>+Time</b> or create a time entry to complete the invoice.</p>
        </div>
      </div>
    } 
  </div>
</div>