<div class="h-[calc(100dvh-106px)] fixed top-70 left-0 w-full flex flex-col">
    <div class="px-5">
        <h1 class="font-rajdhani font-semibold text-3xl">Create Client</h1>

        <div class="py-3">
            <a href="/clients" class="text-gray-50 underline">Client List</a>
        </div>
    </div>

    <div class="overflow-hidden flex-auto">
        <div class="grid gap-0 relative">          
            <main class="flex flex-col bg-black-alt overflow-y-auto h-[calc(100dvh-(192px))]">
                <div class=" bg-black-alt border-steel-blue-600 border-t sticky top-0 flex h-[53px] z-50">
                    <div class="w-full flex flex-row border-b border-black justify-between pe-5">
                        <div class="flex pt-[23px]">
                            <a href="#" routerLink="projects" routerLinkActive="border-gray-100" class="w-full min-w-[107px] text-center whitespace-nowrap px-3 py-1 font-bold border-b border-gray-100 hover:border-gray-100">Details</a>
                        </div>
                        <div class="flex flex-column justify-center items-center">
                            <button class="h-[36px] px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded min-w-[120px]">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid flex-1">
                    <div class="p-5 pr-0">
                        <form class="grid gap-[20px]">
                            <!-- row grid -->
                            <div class="grid gap-[20px] grid-flow-col auto-cols-[minmax(200px,395px)] pr-5">
                                <!-- column -->
                                <div>
                                    <!-- text input -->
                                    <input type="text" name="fullname" id="fullname" class="w-[100%] max-w-[395px] block text-[14px] px-2 py-1 border border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px]" placeholder="Client Name">
                                </div>
                                <!-- column -->
                                <div>
                                    <!-- text input -->
                                    <input type="text" name="canatednated" id="canatednated" class="w-[100%] max-w-[395px] block text-[14px] px-2 py-1 border border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px]" placeholder="Official Name">
                                </div>
                            </div>
                            <!-- row grid -->
                            <div class="grid gap-[20px] grid-flow-col grid-cols-[395px_minmax(200px,395px)] pr-5">
                                <!-- column -->
                                <div>
                                    <!-- email input -->
                                    <input type="email" name="canatednated" id="canatednated" class="w-[100%] max-w-[395px] block text-[14px] px-2 py-1 border border-black appearance-none focus:outline-none placeholder:text-gray-100 bg-blue-900 rounded h-[36px]" placeholder="Billing Email">
                                </div>
                                <!-- column -->
                                <div>
                                    <div class="flex items-center">
                                        <span class="mr-[8px] font-semibold">Rate</span>
                                        <!-- text input w/icon to left -->
                                        <div class="flex items-stretch border border-black text-gray-100 bg-blue-900 rounded h-[36px] w-full max-w-[98px]">
                                            <span class="flex items-center justify-center text-center whitespace-nowrap w-[42px] after:block">
                                                <i class="bi bi-currency-dollar text-[14px]"></i>
                                            </span>
                                            <input type="text" name="" id="" class="text-right w-[100%] max-w-[98px] block text-[14px] px-2 py-1 appearance-none focus:outline-none placeholder:text-gray-100 bg-inherit rounded" placeholder="00.00">
                                        </div>
                                        <span class="ml-[8px] font-semibold">p / hr</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <aside class="border-l border-black sticky top-0 overflow-y-auto h-[calc(100dvh-(192px))]">
                <div class="overflow-y-auto h-[275px]">
                    <table class="min-w-full border-spacing-0 border-separate">
                        <thead>
                            <tr class="sticky top-0 text-left">
                                <th scope="col" class="bg-blue-900 border-steel-blue-600 border-y py-3 pl-5">Activity<i class="bi bi-sort-down ml-2"></i></th>
                                <th scope="col" colspan="2" class="bg-blue-900 border-steel-blue-600 border-y py-3">Total Hrs <i class="bi bi-arrow-down-up text-[12px] ml-2"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(i of [1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,7]; track i)
                            {
                                <tr class="even:bg-gray-850 odd:bg-black-alt">
                                    <td class="border-b border-black py-2 pl-5">MM/DD/YYYY</td>
                                    <td class="border-b border-black py-2">0000.00</td>
                                    <td class="border-b border-black py-2 text-right pr-5"><a class="text-teal-200 hover:text-teal-300">VIEW</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="p-5">
                    <div class="bg-black-alt rounded-[6px] p-[10px]">
                        <form>
                            <div class="grid gap-[10px]">
                                <div class="font-semibold text-center">Create Activity</div>
                                <div>
                                    <input type="text" name="Activity" id="Activity" placeholder="Activity Name" class="block w-full flex-1 border-[1px] border-black h-[36px] bg-blue-900 rounded px-2 py-1 focus:outline-none placeholder:text-gray-100">
                                </div>
                                <div class="grid grid-cols-2 gap-[10px]">
                                    <div>
                                        <input type="text" name="Hrs" id="Hrs" placeholder="Hrs" class="block w-[77px] flex-1 border-[1px] border-black h-[36px] bg-blue-900 rounded px-2 py-1 focus:outline-none placeholder:text-gray-100">
                                    </div>
                                    <div class="text-right">
                                        <button class="h-[36px] px-2 py-2 border border-orange-500 bg-orange-500 hover:bg-orange-600 hover:border-orange-600 text-white rounded w-full min-w-[100px] max-w-[120px]">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>