<div class="px-5">
  <hq-client-details-summary></hq-client-details-summary>
</div>

<div class="px-5 pt-4">
  <div class="flex flex-col xl:flex-row justify-between items-start gap-4">
    <hq-client-details-search-filter></hq-client-details-search-filter>
    <div class="flex divide-x ml-auto">
      <hq-tab [router]="'projects'" [title]="'Projects'"></hq-tab>
      <hq-tab [router]="'quotes'" [title]="'Quotes'"></hq-tab>
      <hq-tab [router]="'services'" [title]="'Services'"></hq-tab>
      <hq-tab [router]="'invoices'" [title]="'Projects'"></hq-tab>

     
     
    </div>
  </div>
</div>

<router-outlet></router-outlet>
